{% extends 'web/layout1.html' %}
{% load static %}
{% load ui_tags %}
{% block title %}Schemes{% endblock %}
{% block description %} {% settings_value 'APP_NAME' %} {% endblock %}
{% block keywords %} {% settings_value 'APP_NAME' %} {% endblock %}
{% block css %} {% endblock %}
{% block pre_load_js %} 
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
{% endblock %}
{% block body %}

    <div class="container">
       <div class="row">
          <div class="col-md-4"> 
            <div class=" input-group" style="margin-bottom: 100px;">
              <input type="search" class="form-control rounded-0 py-3 font-13 sign-register-input" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            </div>
          </div>
          <div class="col-md-2"> 
            <div class=" input-group" style="margin-bottom: 100px;">
              <button type="button" class="btn fables-second-background-color yojana_mainbotton" style="font-family: 'Arya', sans-serif!important;padding: 8px 10px !important;margin:0px!important;">Search</button>
            </div>
          </div>
          <div class="col-md-6"> 
            <button type="button" class="btn fables-second-background-color yojana_mainbotton"  id="export_button" style="float:right; font-family: 'Arya', sans-serif!important;;margin:0px!important;">Download</button>
          </div>
       </div>
      
       <div class="col-md-12">
        <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold"
            style="color:#3F42A1;font-size:35px;"> {{department}}/{{scheme}} </h2><br />
    </div>
    <!-- <div>Filter:<br>-->
    <!--Caste: <select name="" id="caste_filter">-->
    <!--    <option value="...">All</option>-->
    <!--    <option value="Not specified">NA</option>-->
    <!--    <option value="OBC">OBC</option>-->
    <!--    <option value="SC">SC</option>-->
    <!--    <option value="ST">ST</option>-->
    <!--    <option value="General">General</option>-->
    <!--</select>-->
    <!--</div>-->
    <table class="table table-bordered table-striped table-hover main_bany_text" id="employee_data">
        <thead>
          <tr class="text-center" style="font-size:16px;">
            <th scope="col">Sr.No</th>
            <th scope="col">Application ID</th>
            <th scope="col">Date</th>
            <th scope="col">Name of Applicant</th>
            <th scope="col">Scheme Name</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for application in applications%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>
              <a href="{%url 'web:user_verify' application.user.id application.scheme.id %}">
              {%firstof application.application_id application.id %}</a>
            </td>
            <td>{{application.created_at|date:"d b Y" }}</td>
            <td>{{application.user.name}}</td>
            <td>{{scheme}}</td>
            <td>{{application.status}}</td>
          </tr>
          {%empty%}
          <tr>
              <td colspan="5">No applications found...</td>
          </tr>
          {%endfor%}

        </tbody>
    </table>
  </div>
<br>
<br>
<br>
{%endblock%}
{%block post_load_js %}
<script>

function html_table_to_excel(type)
 {
     var data = document.getElementById('employee_data');

     var file = XLSX.utils.table_to_book(data, {sheet: "sheet1"});

     XLSX.write(file, { bookType: type, bookSST: true, type: 'base64' });

     XLSX.writeFile(file, 'Applicant_details.' + type);
 }

 const export_button = document.getElementById('export_button');

 export_button.addEventListener('click', () =>  {
     html_table_to_excel('xlsx');
 });  

  const data = document.querySelector('table')
  const change_button = document.getElementById('caste_filter')
  change_button.addEventListener('change', _ => {
    const $ = change_button
    Array.from(data.rows).slice(1).forEach(row => {
      console.log(row.cells[6].innerText, $.value || $)
      if(this.value === '...') {
        row.removeAttribute('hidden');
        return
      }
      if(row.cells[6].innerText !== $.value ) {
        row.setAttribute('hidden', '')
      }
      else{
        row.removeAttribute('hidden')
      }
    })
  })
</script>

{%endblock%}
