<div class="container">
    <div class="row">
        <div class="col-12 text-center">
          
               <div class="form-header text-center">
                <h4><b> कार्यालय - जिल्हा समाज कल्याण अधिकारी जिल्हा परिषद नागपूर </b></h4>
                <h5> जिल्हा परिषद नवीन प्रशासकीय इमारत, तळमजला, रवि भवन जवळ </h5>
                <h5>हायकोर्ट रोड, सिविल लाईन, नागपूर</h5><br>
                <h5><b><u> लाभार्थी  नोंदणी फॉर्म </u></b></h5>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center" >
                        <h5 > अस्थीव्यंग व्यक्तीसाठी कृत्रिम अवयव पुरवणे  </h5>
                    </div>
                </div>
              </div>
              <br/>
              
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>दिव्यांग व्यक्तीचे संपूर्ण नाव</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जन्मदिनांक</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.birth_date}}</label>
                    </div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>वय</b></label>
                  </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.birthdate_age}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>लिंग</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.gender}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.education}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>जात / प्रवर्ग</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.caste}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>अविवाहित / विवाहित</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.married}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>कुटुंबाचे वार्षिक उत्पन्न</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.income}}</label>
                    </div>
                  </div>
                </div>
              </div>
              
      
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-3">
                        <label class="form-group form-row "><b>दिव्यांगत्वचा प्रकार</b></label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row">: {{up.handicap_type}}</label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row"><b>टक्केवारी</b></label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row">: {{up.percent}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-3">
                        <label class="form-group form-row "><b>दिव्यांगत्व प्रमाणपत्र क्र.</b></label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row">: {{up.handicap_certificate_no}}</label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row float-right"><b>दिनांक</b> </label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row">: {{up.form_date}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-3">
                            <label class="form-group form-row "><b>व्यवसाय व रोजगार</b></label>
                        </div>
                        <div class="col-md-9">
                            <label class="form-group form-row">: {{up.business}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-3">
                        <label class="form-group form-row "><b>आधार कार्ड क्र.</b></label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row">: {{up.adhar_no}}</label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row "><b>संपर्क क्र.(मो. नंबर)</b></label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row">: {{up.mobile_no}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-3">
                        <label class="form-group form-row "><b>राहण्याचा संपूर्ण पत्ता</b></label>
                      </div>
                      <div class="col-md-9">
                        <label class="form-group form-row">: {{up.address}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-5">
                        <label class="form-group form-row"><b>आवश्यक सेवा सुविधा आणि साहित्य व साधने </b></label>
                      </div>
                      <div class="col-md-7">
                        <label class="form-group form-row">: {{up.avashak_seva}}</label>
                      </div>
                    </div>
                  </div>
                </div>

        <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-group form-row"><b>यापूर्वी वैयक्तिक लाभाच्या योजनेचा लाभ मिळाला आहे का?</b></label>
                </div>
                <div class="col-md-6">
                  <label class="form-group form-row">: {{ up.previous_benefit }}</label>
                </div>
              </div>
            </div>
          </div>
        
             <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-2">
                        <label class="form-group form-row">फोटो:</label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:150px!important;color:#fff"  href="/media/{{up.photo}}" target="blank"> पहा </a></label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row">दिव्यांग व्यक्तीची सही/अंगठा:</label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:150px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> पहा </a></label>
                      </div>
                    </div>
                  </div>
                </div>
   
</div>
</div>
</div>
  