<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="form-header text-center">
                <h4><b> कार्यालय - जिल्हा समाज कल्याण अधिकारी, जिल्हा परिषद नागपूर </b></h4>
                <h5> जिल्हा परिषद नवीन प्रशासकीय इमारत, तळमजला, रवि भवन जवळ </h5>
                <h5>हायकोर्ट रोड, सिविल लाईन, नागपूर.</h5><br>
                <h5><b><u> लाभार्थी  नोंदणी फॉर्म </u></b></h5> 
               
               <div class="row" style="margin-top: 8px; margin-bottom: 25px; ">
                  <div class="col-md-1"></div>
                     <div class="col-md-10 text-center">
                        <h5 > दिव्यांग - दिव्यांग व्यक्तींना विवाहासाठी प्रोत्साहनापर अनुदान देणे  </h5>
                     </div>
                  </div>
               </div>
            <br>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दिव्यांग व्यक्तीचे संपूर्ण नाव</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>पती</b></label>
                    </div>
                    <div class="col-md-7">
                        <label class="form-group form-row">: {{up.husband_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5 float-right">
                        <label class="form-group form-row float-right"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-7">
                        <label class="form-group form-row">: {{up.wife_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पती</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> जन्मदिनांक </b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.husband_birth}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b> वय </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.husband_age}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b> लिंग </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.husband_gender}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>जन्मदिनांक</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.wife_birth}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b> वय </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.wife_age}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b> लिंग </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.wife_gender}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>जात/प्रवर्ग</b></label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>पती</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.husband_caste}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.wife_caste}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>पती</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.husband_edu}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.wife_edu}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>कुटुंबाचे वार्षीक उत्पन्न</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.income}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>विवाह दिनांक</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.vivah_date}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दिव्यांगत्वचा प्रकार</b></label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पती</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.husdivyang_type}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>टक्केवारी</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.hus_percent}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.wifedivyang_type}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>टक्केवारी</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.wife_percent}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दिव्यांगत्व प्रमाणपत्र क्रं.</b></label>
                    </div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>पती</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.hus_certificateno}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.huscertificate_date}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.wife_certificateno}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.wifecertificate_date}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>व्यवसाय व रोजगार</b></label>
                    </div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>पती</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.hus_vyavsay}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.wife_vyavsay}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>आधार कार्ड क्र. :</b></label>
                    </div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>पती</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.husadhar_no}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>पत्नी</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">: {{up.wifeadhar_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="form-group form-row "><b>राहण्याचा संपूर्ण पत्ता (पतीचा)</b></label>
                    </div>
                    <div class="col-md-8">
                      <label class="form-group form-row">: {{up.hus_address}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="form-group form-row"><b>पत्नीचा माहेरचा पत्ता</b></label>
                    </div>
                    <div class="col-md-8">
                      <label class="form-group form-row">: {{up.wifemaher_address}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>संपर्क क्रं.(मोबाईल नंबर)</b></label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row">: 1) {{up.mobile_no1}}</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                      <label class="form-group form-row">: 2) {{up.mobile_no2}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5">
                      <label class="form-group form-row"><b>आवश्यक सेवा सुविधा करिता योजनेचे नाव लिहा</b></label>
                    </div>
                    <div class="col-md-7">
                      <label class="form-group form-row">: {{up.yojna_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-8">
                      <label class="form-group form-row"><b>या पुर्वी या योजनेचा तसेच वैयक्तिक लाभाच्या योजनेचा लाभ मिळाला आहे का?</b></label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row">: {{up.benefit}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group" style="margin-bottom: 1px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="form-group form-row">पतीचे फोटो:</label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                        style="width:150px!important;color:#fff"  href="/media/{{up.hus_photo}}" target="blank"> फोटो पहा </a></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">दिव्यांग पतीची सही/अंगठा:</label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                        style="width:150px!important;color:#fff"  href="/media/{{up.hus_sign}}" target="blank"> फोटो पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group" style="margin-bottom: 1px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="form-group form-row">पत्नीचे फोटो:</label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                        style="width:150px!important;color:#fff"  href="/media/{{up.wife_photo}}" target="blank"> फोटो पहा </a></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row">दिव्यांग पत्नीची सही/अंगठा:</label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                        style="width:150px!important;color:#fff"  href="/media/{{up.wife_sign}}" target="blank"> फोटो पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
            

  </div>
  </div>
  </div>
  