<div class="container">
    <div class="row">
        <div class="col-12 text-center">

          <div class="form-header text-center">
            <h5 style="word-spacing: 3px; "><b>आंतरजातीय विवाह योजने अंतर्गत अर्थसहाय्य मिळण्यासाठी</b></h5>
            <h5><b> करावयाच्या अर्जाचा नमुना </b></h5>
           </div>
                
          <br>
              
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>अर्जदार नाव</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.arjadar_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>पत्ता</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.address}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row text-left">: {{up.dinank}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>मो. नं.</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.mob_no1}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.mob_no2}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"> प्रति,</h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; मा. जिल्हा समाजकल्याण अधिकारी,</h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; जिल्हा परिषद, नागपूर</h6>
              <br><br>

              <h6 class=" text-left" style="font-weight: 500;"> महोदय,</h6>
              <h6 class=" text-left " style="font-weight: 500; word-spacing: 2px;">&emsp;&emsp;&emsp; आम्ही दिनांक <span><label class="form-group"><b>{{up.vivah_date}}</b></label></span>
                  रोजी आंतरजातीय विवाह केलेला आहे. त्यासंबंधीची आवश्यक माहिती या अर्जाव्दारे सादर करीत आहोत.
                  आम्हाला आंतरजातीय विवाहितांना मिळणारे अर्थसहाय्य मंजूर व्हावे, हि विनंती.
              </h6><br><br>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"><b> वराची माहिती-</b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>वराचे संपूर्ण नांव</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.var_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>धर्म / जात, पोटजात</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.var_dharma}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जात / प्रवर्ग</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_caste}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.var_edu}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>व्यवसाय / उद्योग</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.var_vyavsay}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>कार्यालय नांव हुद्दा</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.var_karyalay}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>मूळ राहण्याचे ठिकाण</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.var_address}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                      <label class="form-group form-row"><b>वराचे रहिवासी दाखला कोणत्या जिल्ह्याचा आहे?</b></label>
                    </div>
                    <div class="col-md-2 text-center">
                      <label class="form-group form-row" style="border-style: groove; padding-left: 20px;">नागपूर</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 0px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>आधार क्रं.</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.var_adharno}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"><b> वधूची माहिती-</b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>वधुचे संपूर्ण नांव (लग्नापुर्वीचे)</b></label>
                    </div>
                    <div class="col-md-7 text-left">
                        <label class="form-group form-row">: {{up.vadhu_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>धर्म / जात, पोटजात</b></label>
                    </div>
                    <div class="col-md-4 text-left">
                        <label class="form-group form-row">: {{up.vadhu_dharma}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जात / प्रवर्ग</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_caste}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.vadhu_edu}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>व्यवसाय / उद्योग</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.vadhu_vyavsay}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>कार्यालय नांव हुद्दा</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.vadhu_karyalay}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>मूळ राहण्याचे ठिकाण</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.vadhu_address}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <label class="form-group form-row"><b>वधूचा रहिवासी दाखला कोणत्या जिल्हयाचा आहे?</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_jilha}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>आधार क्रं.</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_adharno}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-group form-row"><b>विवाहाचा दिनांक</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.vivah_date1}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row "><b>विवाह स्थळ</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.vivah_place}}</label>
                    </div> 
                  </div>
                </div>
              </div>  
              
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>विवाह पध्दती</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.vivah_type}}</label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>प्रथम विवाह आहे काय?</b></label>                    
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वर </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_firstvivah}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वधू </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_firstvivah}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="margin-bottom: 10px; margin-top: 20px;" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>लग्नापूर्वी विदुर/विधवा होते काय?</b></label>                    
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वर </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_vidur}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वधू </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_vidhva}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-7">
                        <label class="form-group form-row"><b>यापूर्वी सदर योजनेखाली अर्थसहाय्य मागणी केली आहे काय ?</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.bfor_yojna}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-7">
                        <label class="form-group form-row"><b>सदर योजनेंतर्गत अन्य जिल्हा परिषदेकडे अर्ज केला आहे काय ?</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.anya_zp}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-7">
                        <label class="form-group form-row"><b>यापूर्वी सदर योजनेखाली सत्कार झाला आहे काय ?</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.satkar}}</label>
                    </div>
                  </div>
                </div>
              </div>

              {% if up.satkar == "होय" %}
              <div class="form-group" >
                <div class="input-icon">
                  <h6 class=" text-left" style="font-weight: 500;"><b> होय असल्यास </b></h6><br>
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>कोठे?</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.where}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>व केव्हा?</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.when}}</label>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"><b> बँकेचा तपशील  - ( Joint Bank Account ) </b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>बँकेचे नांव</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row text-left">: {{up.bankname}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>शाखा</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.branch}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>खाते क्रं.</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.account_no}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>IFSC code</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.ifsc_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <p class="text-left" style="word-spacing: 2px;">&emsp;&emsp;&emsp;&emsp; 
                <b>वरील सर्व माहिती आमचे माहितीप्रमाणे सत्य व अचूक आहे.
                त्यामध्ये काही चूक आढळून आल्यास आपणाकडून होणाऱ्या परिणामास आम्ही जबाबदार राहू.</b>
              </p>
              <br>
              <p class="text-left" style="word-spacing: 2px;">
                <b>टिप :- अर्ज सादर करतांना मुळ कागदपत्रे सोबत आणणे आवश्यक आहे.
                 त्याशिवाय अर्ज स्वीकारल्या जाणार नाही.</b>      
              </p>
              <br><br>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>सही वर:</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:150px!important;color:#fff"  href="/media/{{up.var_sign}}" target="blank"> सही पहा </a></label>
                    </div>
                    <div class="col-md-2">
                      <label class="form-group form-row float-right"><b>सही वधू:</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:150px!important;color:#fff"  href="/media/{{up.vadhu_sign}}" target="blank"> सही पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
            

  </div>
  </div>
  </div>
  