<div class="container">
  <div class="row">
      <div class="col-12 text-center">
          <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
          <h6 class=" text-left" style="font-weight: 500;"> मा. जिल्हादंडाधिकारी, </h6>
          <h6 class=" text-left" style="font-weight: 500;"> नागपूर.</h6>
        </br>
        <h6 class=" text-left" style="font-weight: 500;"><b>विषय:- अल्पसंख्यांक विदयार्थाकरीता पोलीस भरती पुर्व परिक्षा प्रशिक्षण बाबत अर्ज 
          (सन 2019-20) (मुस्लीम/ख्रिश्चन/बौध्द/शीख/पारसी/जैन)</b></h6>
        </br>
          <h6 class=" text-left" style="font-weight: 500;">महोदय,</h6>
          <h6 class=" text-justify" style="font-weight: 500;"> नागपूर जिल्हा येथे घेण्यात येणारे पोलीस भरती पुर्व परिक्षा प्रशीक्षण करीता मी अर्ज 
            सादर करीत आहे. माझी संपूर्ण माहिती व इतर तपशिल खालील प्रमाणे आहे.</h6>
          </br>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>नाव (आडनाव प्रथम लिहावे)</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>वडीलाचे पुर्ण नाव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.fa_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>रहीवासी स्थायी पुर्ण पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.paripurn_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>दुरध्वणी/मोबाईल क्रमांक</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>धर्म / समाज</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.dharma}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>धर्म / समाजाचा दाखला</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.dharma_dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>जात</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.jat}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>वार्षीक उत्पन्न</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.varshik_utpanna}}</label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row"><b>वार्षीक उत्पन्न दाखला (2,50,000/-पर्यंत)</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>रहीवासी दाखला जोडला आहे काय ?</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.rahivasi}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.rahi_dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>HSC टक्केवारी</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.hsc}}</label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>HSC दाखला</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.hsc_dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>उंची (से.मी.)</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.unchi}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>छाती (साधारण)</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.chhati}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>छाती (फुगवून)</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.fugvun}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>सेवायोजन कार्यालयाचे कार्ड क्र.</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.seva_kard}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जन्मतारीख</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-justify" style="font-weight: 500;"> दिनांक <b>{{up.birth_date1}}</b> रोजी होणारे वय :</h6>
</br>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-2">
        <label class="form-group form-row"><b>वर्ष</b></label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row">: {{up.varsh}}</label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row"><b>महिना</b></label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row">: {{up.mahina}}</label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row"><b>दिवस</b></label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row">: {{up.divas}}</label>
      </div>
    </div>
  </div>
</div>
  <h6 class=" text-justify" style="font-weight: 500;"> नोट - अर्जदारानी लिव्हींग सर्टीफीकेट, मार्कशिट, उत्पन्नाचा दाखला, आधार कार्ड, 
    सेवायोजन कार्ड, रहीवासी दाखला , धर्माचा दाखला इत्यादी प्रमाणपञाच्या प्रति सांक्षाकित करुन अर्जासोबत जोडण्यात येत आहे.वर नमुद 
    केलेली माहिती खोटी आढळल्यास मी याला जबाबदार राहील. </h6>
  <br/>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>दिनांक</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.form_date}}</label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>स्वाक्षरी</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>नाव</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>मोबाईल क्र.</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.mobile_number1}}</label>
        </div>
      </div>
    </div>
  </div>
  
  
  

  
