<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5> महाराष्ट्र शासन, अल्पसंख्याक विकास विभाग </h5>
       <h6>अल्पसंख्याक खाजगी शाळा,कनिष्ठ महाविद्यालय व अपंग शाळांमध्ये पायाभूत सुविधा</h6>
       <h6>पुरवण्यासाठी अनुदान योजना अर्जाचा नमुना</h6>
        </div>
      </br>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>शाळेचे पूर्ण नाव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.sch_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>पत्रव्यवहाराचा पूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>दूरध्वनी क्र.</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>ई-मेल</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.email_id}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-8">
          <label class="form-group form-row text-left"><b>शाळेचा DIES Code/औ. प्र. सं चा Institute code/अपंग शाळाचा Licence code</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.code}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>शाळा चालविणाऱ्या संस्थेचे नाव</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sch_sanstha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>शाळा चालविणाऱ्या संस्थेचा पूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sanstha_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>दूरध्वनी क्र.</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.mobile_number1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>मुख्याध्यापका / प्राचार्याचे नाव</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.pracharya_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row text-left"><b>शाळा/कानिष्ठ महाविद्यालय/अपंग शाळा/औद्योगिक प्रशिक्षण संस्था यांचा राष्ट्रीय बँकेतील बँक खाते क्र.</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.acc_no}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>IFSC कोड</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.ifsc}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row text-left"><b>संस्थेच्या नोंदणीचा क्रमांक व संबंधीत अधिनियम</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.nondani_kr1}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row text-left"><b>सहकारी संस्था नांदणी कायदा, १८६० अंतर्गत</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.nondani_kr2}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row text-left"><b>सार्वजनिक न्यास नोंदणी अधिनियम, १९५० अंतर्गत</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.nondani_kr3}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row text-left"><b>वक्फ अधिनियम, १९९५ अंतर्गत</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.nondani_kr4}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row text-left"><b>इतर कोणत्याही कायद्यातर्गत</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.nondani_kr5}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row text-left"><b>शिक्षण विभागाच्या मान्यतेची तारीख व तपशील</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.tarikh}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class="form-group text-left"><b> शाळेमध्ये मंजूर आणि चालू इयत्ता / तुकड्या</b></h6>
   <div style="height:190px;overflow:auto;">
    <table class="table table-bordered table-striped table-hover main_bany_text">
      <thead>
        <tr class="text-center" style="font-size:14px;">
          <th>इयत्तेचे स्वरूप</th>
          <th>इयत्ता</th>
          <th>तुकड्या</th>
          <th>विद्यार्थी संख्या</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td>मंजूर</td>
          <td>{{up.manjur1}}</td>
          <td>{{up.manjur2}}</td>
          <td>{{up.manjur3}}</td>
        </tr>
        <tr class="text-center">
          <td>चालू</td>
          <td>{{up.chalu1}}</td>
          <td>{{up.chalu2}}</td>
          <td>{{up.chalu3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</br>
<div class="form-group">
  <div class="input-icon">
    <div class="row">
      <div class="col-md-5">
        <label class="form-group form-row text-left"><b>शाळा/कनिष्ठ महाविद्यालय/अपंग शाळा कोणता अभ्यासक्रम शिकविते ?</b></label>
      </div>
      <div class="col-md-3">
        <label class="form-group form-row">: {{up.abhyaskram}}</label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row text-left"><b>माध्यम</b></label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row">: {{up.madhyam}}</label>
      </div>
    </div>
  </div>
</div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-7">
          <label class="form-group form-row text-left"><b>शाळा/कनिष्ठ महाविद्यालय/अपंग शाळा/औद्योगिक प्रशिक्षण संस्थामधील शिक्षक/शिक्षकांची विषयनिहाय व अर्हतानिहाय संख्या</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.sankhya}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class="form-group text-left"><b>शाळा / कनिष्ठ महाविद्यालय / अपंग शाळा / औद्योगिक प्रशिक्षण संस्था मधील सोयी सुविधा :</b></h6>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-8">
          <label class="form-group form-row text-left"><b> शाळा/कनिष्ठ महाविद्यालय/अपंग शाळा/औद्योगिक प्रशिक्षण संस्था संस्थेच्या मालकीच्या इमारतीमध्ये चालविली जाते की भाड्याच्या इमारतीमध्ये?</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.imaratimdhe}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>आवश्यक बांधकाम (प्रयोजन व आवश्यक क्षेत्रफळ)</b> </label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.aavashyak_bandh}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class="form-group text-left"><b>शाळा / कनिष्ठ महाविद्यालय / अपंग शाळेमध्ये / औद्योगिक प्रशिक्षण संस्थांमधील उपलब्ध स्वच्छतागृहाची माहिती :</b></h6>
  <div style="height:190px;overflow:auto;">
    <table class="table table-bordered table-striped table-hover main_bany_text">
      <thead>
        <tr class="text-center" style="font-size:14px;">
          <th>स्वच्छतागृह</th>
          <th>संख्या</th>
          <th>क्षेत्रफळ</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td>महिला</td>
          <td>{{up.mahila1}}</td>
          <td>{{up.mahila2}}</td>
        </tr>
        <tr class="text-center">
          <td>पुरुष</td>
          <td>{{up.purush1}}</td>
          <td>{{up.purush2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</br>
<div class="form-group">
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6">
        <label class="form-group form-row text-left"><b>शाळा/कनिष्ठ महाविद्यालय/अपंग शाळामधील/औद्योगिक प्रशिक्षण संस्थांमधील पिण्याच्या पाण्याच्या सुविधांचा तपशील</b> </label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row">: {{up.pani}}</label>
      </div>
    </div>
  </div>
</div>
<h6 class="form-group text-left"><b>मागणीच्या रकमेचा तपशील</b></h6>
    <table class="table table-bordered table-striped table-hover main_bany_text">
      <thead>
        <tr class="text-center" style="font-size:14px;">
          <th>अ.क्र.</th>
          <th>निर्माण करावयाच्या सुविधा</th>
          <th>संख्या</th>
          <th>दुरुस्तीची / बांधकामांची / खरेदीची किंमत प्रति नग</th>
          <th>आवश्यक रक्कम रुपये</th>
          <th>शेरा</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td>१</td>
          <td>२</td>
          <td>३</td>
          <td>४</td>
          <td>५</td>
          <td>६</td>
        </tr>
        <tr class="text-center">
          <td>१</td>
          <td>शाळा/कनिष्ठ महाविद्यालय/अपंग शाळेच्या/औद्योगिक प्रशिक्षण संस्थांमधील इमारतीची दुरुस्ती नूतनीकरण</td>
          <td>{{up.nutanikaran1}}</td>
          <td>{{up.nutanikaran2}}</td>
          <td>{{up.nutanikaran3}}</td>
          <td>{{up.nutanikaran4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>अ) शाळा खोल्यांची डागडुजी/दुरुस्ती</td>
          <td>{{up.dagduji1}}</td>
          <td>{{up.dagduji2}}</td>
          <td>{{up.dagduji3}}</td>
          <td>{{up.dagduji4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>ब) छत दुरुस्ती</td>
          <td>{{up.chhat1}}</td>
          <td>{{up.chhat2}}</td>
          <td>{{up.chhat3}}</td>
          <td>{{up.chhat4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>क) शाळा खोल्या मधले फरशी बसवणे</td>
          <td>{{up.farshi1}}</td>
          <td>{{up.farshi2}}</td>
          <td>{{up.farshi3}}</td>
          <td>{{up.farshi4}}</td>
        </tr>
        <tr class="text-center">
          <td>२</td>
          <td>पिण्याच्या पाण्याची सुविधा (कुलर / फिल्टर सह)</td>
          <td>{{up.kooler1}}</td>
          <td>{{up.kooler2}}</td>
          <td>{{up.kooler3}}</td>
          <td>{{up.kooler4}}</td>
        </tr>
        <tr class="text-center">
          <td>३</td>
          <td>ग्रंथालयासाठी</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>अ) शैक्षणिक साहित्य/किट्स खरेदी</td>
          <td>{{up.kits1}}</td>
          <td>{{up.kits2}}</td>
          <td>{{up.kits3}}</td>
          <td>{{up.kits4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>ब) बुक बँक/क्रिमिक पुस्तके खरेदी</td>
          <td>{{up.pustke_khredi1}}</td>
          <td>{{up.pustke_khredi2}}</td>
          <td>{{up.pustke_khredi3}}</td>
          <td>{{up.pustke_khredi4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>क) इतर पुस्तके खरेदी</td>
          <td>{{up.itar_khredi1}}</td>
          <td>{{up.itar_khredi2}}</td>
          <td>{{up.itar_khredi3}}</td>
          <td>{{up.itar_khredi4}}</td>
        </tr>
        <tr class="text-center">
          <td>४</td>
          <td>प्रयोगशाळा उभारणे/अद्यायावत करणे (सविस्तर तपशील द्यावा)</td>
          <td>{{up.prayogshala1}}</td>
          <td>{{up.prayogshala2}}</td>
          <td>{{up.prayogshala3}}</td>
          <td>{{up.prayogshala4}}</td>
        </tr>
        <tr class="text-center">
          <td>५</td>
          <td>संगणक कक्ष</td>
          <td>{{up.sanganak1}}</td>
          <td>{{up.sanganak2}}</td>
          <td>{{up.sanganak3}}</td>
          <td>{{up.sanganak4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>अ) संगणक संख्या</td>
          <td>{{up.sankhya1}}</td>
          <td>{{up.sankhya2}}</td>
          <td>{{up.sankhya3}}</td>
          <td>{{up.sankhya4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>ब) प्रिंटर्स</td>
          <td>{{up.printers1}}</td>
          <td>{{up.printers2}}</td>
          <td>{{up.printers3}}</td>
          <td>{{up.printers4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>क) सॉफ्टवेअर्स</td>
          <td>{{up.software1}}</td>
          <td>{{up.software2}}</td>
          <td>{{up.software3}}</td>
          <td>{{up.software4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>ड) इतर साहित्य</td>
          <td>{{up.itar_sahity1}}</td>
          <td>{{up.itar_sahity2}}</td>
          <td>{{up.itar_sahity3}}</td>
          <td>{{up.itar_sahity4}}</td>
        </tr>
        <tr class="text-center">
          <td>६</td>
          <td>स्वच्छतागृहे</td>
          <td>{{up.swachhtagruhe1}}</td>
          <td>{{up.swachhtagruhe2}}</td>
          <td>{{up.swachhtagruhe3}}</td>
          <td>{{up.swachhtagruhe4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>अ) स्वच्छता गृहांची दुरुस्ती</td>
          <td>{{up.durusti1}}</td>
          <td>{{up.durusti2}}</td>
          <td>{{up.durusti3}}</td>
          <td>{{up.durusti4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>ब) नवीन स्वच्छतागृहे बांधणे</td>
          <td>{{up.new_swachhtagruhe1}}</td>
          <td>{{up.new_swachhtagruhe2}}</td>
          <td>{{up.new_swachhtagruhe3}}</td>
          <td>{{up.new_swachhtagruhe4}}</td>
        </tr>
        <tr class="text-center">
          <td>७</td>
          <td>विद्यार्थ्यांसाठीचे फर्निचर</td>
          <td>{{up.furniture1}}</td>
          <td>{{up.furniture2}}</td>
          <td>{{up.furniture3}}</td>
          <td>{{up.furniture4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>अ) बेंचेस/डेक्स/टेबल नवीन खरेदी</td>
          <td>{{up.benches1}}</td>
          <td>{{up.benches2}}</td>
          <td>{{up.benches3}}</td>
          <td>{{up.benches4}}</td>
        </tr>
        <tr class="text-center">
          <td>८</td>
          <td>इनव्हर्टरची सुविधा निर्माण करणे (मुंबई शहर व उपनगरे वगळून)</td>
          <td>{{up.inverter1}}</td>
          <td>{{up.inverter2}}</td>
          <td>{{up.inverter3}}</td>
          <td>{{up.inverter4}}</td>
        </tr>
        <tr class="text-center">
          <td>९</td>
          <td>झेरॉक्स मशीन (माध्यमिक शाळा व महाविद्यालयांसाठी)</td>
          <td>{{up.xerox1}}</td>
          <td>{{up.xerox2}}</td>
          <td>{{up.xerox3}}</td>
          <td>{{up.xerox4}}</td>
        </tr>
        <tr class="text-center">
          <td>१०</td>
          <td>अध्यापनाची साधने (Teaching Material) एल.सी.डी. प्रोजेक्टर, अध्यापनासाठी लागणारे विविध सॉफ्टवेअर, इत्यादी</td>
          <td>{{up.material1}}</td>
          <td>{{up.material2}}</td>
          <td>{{up.material3}}</td>
          <td>{{up.material4}}</td>
        </tr>
        <tr class="text-center">
          <td>११</td>
          <td>ई- लर्निंग सुविधा निर्माण करणे /लॅग्वेज लॅब (हायस्कूल व कनिष्ठ महाविद्यालये)</td>
          <td>{{up.elearning1}}</td>
          <td>{{up.elearning2}}</td>
          <td>{{up.elearning3}}</td>
          <td>{{up.elearning4}}</td>
        </tr>
        <tr class="text-center">
          <td>१२</td>
          <td>संगणक हार्डवेअर/सॉफ्टवेअर</td>
          <td>{{up.hardware1}}</td>
          <td>{{up.hardware2}}</td>
          <td>{{up.hardware3}}</td>
          <td>{{up.hardware4}}</td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td>एकूण</td>
          <td>{{up.ekun1}}</td>
          <td>{{up.ekun2}}</td>
          <td>{{up.ekun3}}</td>
          <td>{{up.ekun4}}</td>
        </tr>
      </tbody>
    </table>
</br>
<div class="form-group">
  <div class="input-icon">
    <div class="row">
      <div class="col-md-4">
        <label class="form-group form-row"><b>मागणी केलेली एकूण रक्कम रु.</b> </label>
      </div>
      <div class="col-md-8">
        <label class="form-group form-row">: {{up.ekun_rakkam1}}</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6">
        <label class="form-group form-row"><b>या योजनेअंतर्गत पूर्वी अनुदान घेतले आहे काय?</b> </label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row">: {{up.anudan}}</label>
      </div>
    </div>
  </div>
</div>
<div style="height:190px;overflow:auto;">
  <table class="table table-bordered table-striped table-hover main_bany_text">
    <thead>
      <tr class="text-center" style="font-size:14px;">
        <th>अ.क्र.</th>
        <th>आर्थिक वर्ष</th>
        <th>रक्कम</th>
        <th>प्रयोजन</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>१</td>
        <td>{{up.arthik_vrsh1}}</td>
        <td>{{up.rakkam1}}</td>
        <td>{{up.prayojan1}}</td>
      </tr>
      <tr class="text-center">
        <td>२</td>
        <td>{{up.arthik_vrsh2}}</td>
        <td>{{up.rakkam2}}</td>
        <td>{{up.prayojan2}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group">
  <div class="input-icon">
    <div class="row">
      <div class="col-md-10">
        <label class="form-group form-row text-left"><b>योजनेंतर्गत लाभ मिळालेल्या प्रयोजनासाठीच निधीचा वापर केला असल्याबद्दलचे प्रमाणपत्र आणि उपयोगिता प्रमाणपत्र जोडले आहे काय ?</b> </label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row">: {{up.nidhi}}</label>
      </div>
    </div>
  </div>
</div>
<h6 class="form-group text-left">मी / आम्ही श्री. / श्रीमती <b>{{up.mi}}</b> व श्री. / श्रीमती <b>{{up.pramanit}}</b>
  असे प्रमाणित करतो की , आमच्या <b>{{up.sansthedvara}}</b> संस्थेद्वारा संचलित <b>{{up.sanchalit}}</b> या 
  शाळा/कनिष्ठ महाविद्यालय/अपंग शाळा/औद्योगिक प्रशिक्षण संस्थासाठी अनुदान मागणी संदर्भात उपरोक्त दिलेल्या सर्व माहितीची पडताळणी केली असून सर्व माहिती सत्य बरोबर आहे.</h6>
</br>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>नाव</b> </label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row">: {{up.name}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>सही</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>शिक्का</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.shikka}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row text-left"><b>संसंस्थेच्या अध्यक्षांचे गट शिक्षण अधिकारी/शिक्षण निरीक्षक/उपशिक्षणाधिकारी यांनी साक्षांकित केलेले छायाचित्र</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.photo1}}" target="blank"> पहा </a></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row text-left"><b>संस्थेच्या सचिवांचे गट शिक्षण अधिकारी/शिक्षण निरीक्षक/उपशिक्षणाधिकारी यांनी साक्षांकित केलेले छायाचित्र</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.photo2}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  
  
  

  
