<div class="container">
  <div class="row">
      <div class="col-12 text-center">
            <div class="form-header text-center row">
              <h3> अनुसुचित जातीच्या व्यक्तींना वैयक्तिक घरकुलासाठी अर्ज </h3>
            </div>
            <br/>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row"><b>अर्जदाराचे नाव </b></label>
                  </div>
                  <div class="col-md-8">
                    <label class="form-group form-row">: {{up.name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row"><b>वडिलांचे संपूर्ण नाव /पतीचे नाव (महिलांसाठी) </b></label>
                  </div>
                  <div class="col-md-8">
                    <label class="form-group form-row">: {{up.fa_name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row"><b>कायमचा पत्ता </b></label>
                  </div>
                  <div class="col-md-8">
                    <label class="form-group form-row">: {{up.pe_address}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row"><b>सध्याचा पत्ता </b></label>
                  </div>
                  <div class="col-md-8">
                    <label class="form-group form-row">: {{up.cu_address}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row"><b>अर्जदारास  घरकुल बांधावयाचे आहे जागेचा पत्ता </b> </label>
                  </div>
                  <div class="col-md-8">
                    <label class="form-group form-row">: {{up.ghar_address}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-5">
                    <label class="form-group form-row"><b>घरकुल बांधावयाचा जागेचा तपशिल क्षेत्रफळ इ. </b> </label>
                  </div>
                  <div class="col-md-1">
                    <label class="form-group form-row">: {{up.kshetrafal}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>रेशन कार्ड क्र. </b> </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.ration_no}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>जन्मतारीख  </b></label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.birth_date}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>वय  </b></label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.age}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>जन्मस्थळ </b> </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.birth_place}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>जात व पोटजात  </b></label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.caste}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>शिक्षण</b> </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.education}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>अर्जदाराचा व्यवसाय </b> </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.business}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-group form-row"><b>अर्जदाराच्या वडिलांचा व्यवसाय /पतीचा व्यवसाय (महिलांबाबत)</b> </label>
                  </div>
                  <div class="col-md-6">
                    <label class="form-group form-row">: {{up.fa_business}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>प्राधान्य क्षेत्रातील क्षेत्र</b></label>
                  </div>
                  <div class="col-md-10">
                    <label class="form-group form-row">: {{up.pradhanya}}</label>
                  </div>
                </div>
              </div>
            </div>
             <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>दिनांक</b>  </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.apply_date}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>अर्जदाराचे नाव</b></label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.name_1}}</label>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  
                </div>
              </div>
            </div> 
            
            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>फोटो</b> </label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font" 
                      style="width:150px!important;color:#fff" href="/media/{{up.photo}}"  target="blank"> फोटो पहा </a></label>
                    </div>
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>अर्जदाराची सही</b>  </label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                      style="width:150px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
                    </div>
                  </div>
                </div>
            </div> 
          </div>        
</div>
</div>
