<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="form-header text-center">
                <h6 style="margin-bottom: 5px;"><b>महाराष्ट्र शासन</b></h6>
                <h5 style="margin-bottom: 5px;"><b>आदिवासी विकास विभाग</b></h5><br>
                <h5 style="margin-bottom: 5px;"><b>अनुसूचित जमातीच्या सामुहिक विवाह सोहळयात सहभागी होणाऱ्या</b></h5>
                <h5 style="margin-bottom: 15px;"><b>दाम्पत्याकरिता कन्यादान योजना</b></h5>
                <h6>परिशिष्ट – ब </h6>
                <h5 style="margin-top: 15px;"><b>सामुहिक विवाह सोहळयामध्ये भाग घेवून विवाह करणाऱ्या अनुसूचित जमातीच्या दाम्पत्यास आर्थिक सहाय्य मिळण्यासाठी संबंधित संस्थेने सादर करावयाच्या प्रस्तावाचा नमुना</b></h5>
                <h5 style="margin-top: 15px;"><b>- - नमुना –-</b></h5>
            </div>
            <br>

            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5 "></div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>संस्थेचे नाव</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.sanstha_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>पत्ता</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.sanstha_add}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.date}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"> प्रति,</h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; मा. प्रकल्प अधिकारी,</h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; एकात्मिक आदिवासी विकास प्रकल्प,</h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; देवरी, जि. गोंदिया.</h6>
              <br>

              <p class="text-left"><b>विषय :- </b> सामुहिक विवाह सोहळयामध्ये भाग घेवून विवाह करणाऱ्या अनुसूचित जमातीच्या     
                दाम्पत्यास आर्थिक सहाय्य या योजनेंतर्गत आर्थिक सहाय्य” मिळणेबाबत.</p> <br>

                <p class="text-left">महोदय ,</p>
                <p class="text-left"> &emsp;&emsp;&emsp;&emsp;
                    आमची संस्था स्वयंसेवी असून ती संस्था नोंदणी अधिनियम, १९६० / सार्वजनिक विश्वस्त अधिनियम , १८५० अन्वये नोंदणीकृत असून संस्थेचा नोंदणी क्रमांक 
                    &emsp;<span><label class="form-group"><b>{{up.reg_no}}</b></label></span>&emsp; असा आहे. आमच्या संस्थेने 
                    &emsp;<span><label class="form-group"><b>{{up.thikani}}</b></label></span>&emsp; ठिकाणी 
                    &emsp;<span><label class="form-group"><b>{{up.time}}</b></label></span>&emsp; वाजता सामुहिक विवाह सोहळा आयोजित 
                    केलेला आहे. हया विवाह सोहळयात या सोबत नमूद तपशीलानुसार अनुसूचित जमाती वर/वधू  सहभागी होवून विवाह 
                    संपन्न होणार आहे. प्रस्तूत सामुहिक विवाहाकरिता येणारा खर्च आमची संस्था निधीतून करणार असून , वर/वधूचे 
                    विवाह नोंदणी विवाहांचे ठिकाणी होणार आहे. संबंधितांचे विवाहाबाबतचे नोंदणी प्रमाणपत्र विवाहाच्या दिवशीच व्यवस्था 
                    करणेत येत आहे.
                </p>
                <p class="text-left"> &emsp;&emsp;&emsp;&emsp;  
                    तरी उपरोक्त नमूद योजनेंतर्गत देय असलेले अर्थसहाय्य (मणी,मंगळसूत्र व संसारोपयोगी  साहित्य,भांडी वगैरे) 
                    मंजूर करुन त्याचा पुरवठा लग्न समारंभाचे दिवशी करण्याबाबत विनंती आहे.
                </p><br>

                <div class="form-group" style="margin-bottom: 0in;" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <label class="form-group form-row"><b>आपला विश्वासू,</b></label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <label class="form-group form-row float-right"><b>संस्था पदाधिकारी यांचे नाव</b></label>
                        </div>
                        <div class="col-md-5 text-left">
                            <label class="form-group form-row">: {{up.padadhikari}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <label class="form-group form-row float-right"><b>हुद्या</b></label>
                        </div>
                        <div class="col-md-5 text-left">
                            <label class="form-group form-row">: {{up.hudda}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <h5 style="margin-bottom: 5px;"><b>अनुसूचित जमातीच्या सामुहिक विवाह सोहळयात सहभागी होणाऱ्या दाम्पत्याकरिता</b></h5>
                    <h5 style="margin-bottom: 15px;"><b>कन्यादान योजना</b></h5>
                </div>

                <h6 class="text-center">सामुहिक विवाह सोहळा आयोजित करणाऱ्या संस्थेने आपल्या प्रस्तावासोबत वर/वधू यांचेसोबत</h6>
                <h6 class="text-center"> सादर करावयाचा तपशिल</h6><br><br>

                <h6 class=" text-center" style="font-weight: 500; margin-bottom: 10px;"><b>वराची माहिती-</b></h6>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-group form-row"><b>वराचे संपूर्ण नांव</b></label>
                        </div>
                        <div class="col-md-9">
                            <label class="form-group form-row">: {{up.var_name}}</label>
                        </div>
                    </div>
                  </div>
                </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>जन्मतारीख</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.var_birhtdate}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>वय</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.var_age}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>धर्म</b></label>
                    </div>
                    <div class="col-md-2 ">
                        <label class="form-group form-row">: {{up.var_dharma}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>जात</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_jat}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>पोटजात</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_potjat}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.var_edu}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>मूळ राहण्याचे ठिकाण</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.var_add}}</label>
                    </div><br><br>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>गाव</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_gav}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>तालुका</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_tal}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जिल्हा</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_dist}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दूरध्वनी (असल्यास )</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.var_mobile}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h6 class=" text-center" style="font-weight: 500; margin-bottom: 10px;"><b>वधूची माहिती -</b></h6>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-group form-row"><b>वधूचे संपूर्ण नांव</b></label>
                        </div>
                        <div class="col-md-9">
                            <label class="form-group form-row">: {{up.vadhu_name}}</label>
                        </div>
                    </div>
                  </div>
                </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>जन्मतारीख :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.vadhu_birhtdate}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>वय</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.vadhu_age}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>धर्म</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_dharma}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b>जात</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_jat}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>पोटजात</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_potjat}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-10 text-left">
                        <label class="form-group form-row">: {{up.vadhu_edu}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>मूळ राहण्याचे ठिकाण</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.vadhu_add}}</label>
                    </div><br><br>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>गाव</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_gav}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>तालुका</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_tal}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जिल्हा</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_dist}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दूरध्वनी (असल्यास )</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.vadhu_mobile}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>टपालाचा संपूर्ण पत्ता</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.tapal_add}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="text-left" style="margin-bottom: 10px;"><b>दूरध्वनी (असल्यास )</b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>निवास</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.niwas}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>कार्यालय</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.karyalay}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>इतर</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.other}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h6 class="text-center" style="margin-bottom: 15px;"><b>विवाहविषयक माहिती</b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6">
                        <label class="form-group form-row"><b>सामुहिक विवाह आयोजित करणाऱ्या संस्थेचे / यंत्रणेचे नाव</b></label>
                    </div>
                    <div class="col-md-6 text-left">
                        <label class="form-group form-row">: {{up.sanstha}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>सामुहिक विवाहाचे ठिकाण</b></label>
                    </div>
                    <div class="col-md-2 text-left">
                        <label class="form-group form-row">: {{up.vivah_thikan}}</label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row"><b>सामुहिक विवाह आयोजित केल्याची तारीख :</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vivahdate}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>विवाह पध्दती</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.vivah_type}}</label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>प्रथम विवाह आहे काय?</b></label>                    
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वर </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_firstvivah}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वधू </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_firstvivah}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="margin-bottom: 10px; margin-top: 20px;" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>लग्नापूर्वी विदुर/विधवा होते काय?</b></label>                    
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वर </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_vidur}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वधू </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_vidhva}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-7">
                        <label class="form-group form-row"><b>यापूर्वी सदर योजनेखाली अर्थसहाय्याची मागणी केली आहे काय ?</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.bfor_yojna}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-7">
                        <label class="form-group form-row"><b>अन्य जिल्ह्यामध्ये अशा प्रकारचा अर्ज केला आहे काय ?</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.anya_zp}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <p class="text-left" style="word-spacing: 2px;">&emsp;&emsp;&emsp;&emsp; 
                आम्ही स्वाक्षरी करणारे वर / वधू सत्य प्रतिज्ञेवर लिहून देतो की, वर नमूद करण्यात आलेली संपूर्ण माहिती 
                आमचे ज्ञानानुसार खरी व वस्तुस्थितीवर आधारित असून सदर माहिती खोटी अथवा वस्तुस्थितीशी विसंगत 
                असल्याचे निदर्शनास आल्यास होणाऱ्या कारवाईस आम्ही पूर्णत: जबाबदार राहू.
              </p>
              <br><br>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.dinank}}</label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row float-right"><b>ठिकाण</b></label>
                    </div>
                    <div class="col-md-4 text-left">
                        <label class="form-group form-row">: {{up.place}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वराचे नाव</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.var_nm}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row "><b>वराची स्वाक्षरी :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.var_sign}}" target="blank"> स्वाक्षरी पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वधूचे नाव</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.vadhu_nm}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वधूची स्वाक्षरी :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.vadhu_sign}}" target="blank"> स्वाक्षरी पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वराचा फोटो :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.var_photo}}" target="blank"> फोटो पहा </a></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row float-right"><b>वधूचा फोटो :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.vadhu_photo}}" target="blank"> फोटो पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
  </div>
  </div>
  </div>

