<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>महिला व बाल कल्याण विभाग</h5> 
       <h5>जिल्हा परिषद, नागपूर</h5>
       <h6>मोफत शिवणयंत्र पिकोफॉल मशीन मिळणेबाबत अर्ज</h6>
       <h5>अर्ज नमुना</h5>
        </div>
        <br/>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>अर्जदार महिलेचे नाव</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.name}}</label>
              </div>
            </div>
          </div>
        </div>
        
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संपूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.sam_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>मुक्काम</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.mukkam}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>पोस्ट</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.post}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>ता.</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.taluka}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जन्मतारीख</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>शाळा सोडण्याचे प्रमाणपत्र</b> </label>
        </div>
        <div class="col-md-3">
          <div class="col-md-3">
            <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.tc}}" target="blank"> पहा </a></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>अनुसूचित जाती / जनजाती या संवर्गातील आहात काय?</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.jati}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जात</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.jat}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>पोटजात</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.potjat}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जातीचा दाखला</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b> {{up.vivahit}} </b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>विवाहित असल्यास पतीचे नाव</b> </label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.patiname}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>पतीचा व्यवसाय</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.buisness}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>वार्षिक उत्पन्न</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.income}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>अविवाहित असल्यास वडिलाचे पुर्ण नाव</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.fa_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>व्यवसाय</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.buisness1}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>उत्पन्न</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.income1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>कुटुंबाचे एकूण वार्षिक उत्पन्न</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.income2}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>उत्पन्नाचा दाखला</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.dakhla1}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>अर्जदार महिलेचा सध्याचा व्यवसाय</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.buisness2}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>वार्षिक उत्पन्न</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.income3}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>ज्या संस्थेतून शिवणकामाचे प्रशिक्षण घेतले त्या संस्थेचे नाव व पत्ता</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.prashikshan}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>प्रमाणपत्र</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.pramanpatra}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>कोणत्या वर्षी प्रशिक्षण घेतले?</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.prashikshan1}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>बोर्डाचे प्रमाणपत्र/गुणपत्रिका</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.pramanpatra2}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-justify" style="font-weight: 500;">वरील संपूर्ण माहिती सत्य असून खेटी असल्याचे, आढळून आल्यास, मला मंजूर 
    झालेली शिलाई मशीन परत करण्यास जबाबदार राहील व कारवाईस पात्र राहील. तसेच माझा स्वहिस्सा रक्कम जप्त करण्यात येईल याची मला संपूर्ण 
    जाणीव आहे, त्याचप्रमाणे मी लिहून देते की, मला यापूर्वी कोणत्याही विभागाकडून  कोणत्याही योजने अंतर्गत शिलाई मशीन मिळाली नसून मला शिलाई 
    मशीनची अत्यंत आवश्यकता आहे. करिता शिलाई मशीन मंजूर करण्यात यावी, ही विनंती.</h6>
  </br>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>स्थळ</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.sthal}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>दिनांक</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.form_date}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>पूर्ण नाव व पत्ता</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>सही</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>फोटो</b>  </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:120px!important;color:#fff"  href="/media/{{up.photo}}" target="blank"> फोटो पहा </a></label>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
  
  

  
