<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>महिला व बाल कल्याण विभाग, जिल्हा परिषद, नागपूर</h5> 
       <h6>इयत्ता ५ ते १० मध्ये शिकणाऱ्या व २ कि.मी पेक्षा जास्त अंतरावरून 
        जाणे येणे करणाऱ्या मुलींना सायकल पुरवठा योजने अंतर्गत लाभ मिळण्याकरिता करावयाचा अर्ज </h6>
       <h5>अर्ज नमुना</h5>
        </div>
        <br/>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>अर्जदार मुलीचे नाव</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.name}}</label>
              </div>
            </div>
          </div>
        </div>
        
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संपूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.sam_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>मुक्काम</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.mukkam}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>पोस्ट</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.post}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>ता.</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.taluka}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>अनुसूचित जाती / जनजाती या संवर्गातील आहात काय?</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.jati}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जात</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.jat}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>पोटजात</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.potjat}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जातीचा दाखला</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;"><b>मागील वर्षी (सन {{up.san}} वर्षात) शाळेत शिकत होती त्या शाळेचे नाव व संपूर्ण पत्ता </b></h6>
  </br>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>इयत्ता</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.iyatta}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>शाळेचे नाव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.sch_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>शाळेचा पत्ता</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sch_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;"><b>मागील वर्षी पास झालेला गुणानुक्रमांक व गुणांची टक्केवारी</h6>
  </br>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>वर्गातून गुणक्रमांक</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.gun}}</label>
        </div>
        <div class="col-md-1">
          <label class="form-group form-row"><b>मुलींमधून</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.mulinmadhun}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>गुणांची टक्केवारी</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.takke}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;"><b>चालु वर्षी (सन {{up.san1}} वर्षात) ज्या शाळेत शिकत आहे त्या शाळेचे पूर्ण पत्तासह नाव व इयत्ता  </b></h6>
  </br>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>इयत्ता</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.iyatta1}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>शाळेचे नाव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.sch_name1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>शाळेचा पत्ता</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sch_patta1}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;"><b>ज्या गावावरून जाणे - येणे करते (वास्तव्याचे नाव) त्या गावापासून शाळेचे ठिकाण कितीअंतरावर आहे.</h6>
  </br>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>गावाचे नाव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.gav_name}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>शाळेपासून अंतर (कि.मी.)</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.antar}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>वडिलांचा व्यवसाय</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.buisness}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>उत्पन्नाचे प्रमाणपत्र</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.dakhla1}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;">सन <b>{{up.san2}}</b> वर्षासाठी वडील / पालकाचे एकूण वार्षिक उत्त्पन्न <b>{{up.utpanna}}</b> </h6>
  </br>
  <h6 class=" text-justify" style="font-weight: 500;">वरील संपूर्ण माहिती सत्य असून यातील कोणतीही माहिती खोटी असल्याचे अथवा 
    आढळून आल्यास मला मंजूर झालेली सायकल परत करण्यास मी बांधील राहील. तसेच माझे नाव शाळेतून खारीज करण्यात येईल याची मला पूर्ण 
    जाणीव आहे. तसेच मला या विभागाकडून अथवा कोणत्याही विभागाकडून कोणत्याही योजने अंतर्गत यापूर्वी सायकल प्राप्त झालेली नाही. याबाबत हमी 
    देण्यात येत आहे. </h6>
  </br>
  
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>स्थळ</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.sthal}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>दिनांक</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.form_date}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>मुलीचे पूर्ण नाव व पत्ता</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>सही</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>फोटो</b>  </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:120px!important;color:#fff"  href="/media/{{up.photo}}" target="blank"> फोटो पहा </a></label>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
  
  

  
