<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="form-header text-center">
                <h5 style="margin-bottom: 5px;"><b>आदिवासी विकास आयुक्तालय महाराष्ट्र राज्य नाशिक.</b></h5>
                <h5 style="margin-bottom: 5px;"><b>महाराष्ट्र ट्रायबल पब्लिक स्कुल सोसायटी (रजि. ) नाशिक संचलित </b></h5>
                <h5 style="margin-bottom: 5px;"><b>एकलव्य रेसिडेंशियल पब्लिक स्कुल खैरी परसोडा ता. रामटेक, जि . नागपूर </b></h5>
                <h5 style="margin-bottom: 5px;"><b>प्रवेश अर्ज</b></h5>
                <h5 style="margin-bottom: 5px;"><b>( सन २०२० ते २०२१ )</b></h5>
            </div>
            <br/>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"> प्रति,</h6>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; मा . प्र. प्राचार्य, </h6>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; एकलव्य रेसिडेंशियल पब्लिक स्कुल, </h6>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; खैरी परसोडा ता. रामटेक जि . नागपूर </h6>
            
            <br><br>

              <p class="text-left"><b>विषय :-</b> एकलव्य रेसिडेंशियल पब्लिक स्कुल मध्ये इ &emsp;<label class="form-group"><b>{{up.std1}}</b></label>&emsp;  वीत प्रवेश मिळणे बाबत. </p>
              
              <p class="text-left">मा. महोदय ,</p>
              <p class="text-left"> &emsp;&emsp;&emsp;&emsp;
                माझ्या पाल्याची आपल्या शाळेत इयत्ता &emsp;<label class="form-group"><b>{{up.std2}}</b></label>&emsp; वीत प्रवेशासाठी निवड झालेली आहे. तरी त्याला / तिला प्रवेश 
                मिळण्यास विनंती आहे त्याच्या / तिच्या संबंधीची माहिती खालील प्रमाणे आहे.
              </p><br>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>मुलाचे / मुलीचे संपुर्ण नाव</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जन्म स्थळ</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.birth_place}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जन्म तारीख</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.birth_date}}</label>
                    </div>
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>जमातीचे नाव</b></label>
                  </div>
                  <div class="col-md-2">
                      <label class="form-group form-row">: {{up.jamat}}</label>
                  </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 35px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>महाराष्ट्र राज्याचे रहिवासी आहेत काय ?</b></label>
                    </div>
                    <div class="col-md-7">
                        <label class="form-group form-row">: {{up.rahivasi_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>अर्जदारशी नाते</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.nate}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>वडिलांचे संपुर्ण नाव</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.father_name}}</label>
                    </div><br><br>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>पत्ता</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.father_add}}</label>
                    </div><br><br>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>फोन नंबर</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.mobile_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>आईचे संपुर्ण नाव</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.mother_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-11 text-left">
                        <label class="form-group form-row"><b>आई -वडिलांचे /पालकाचे मागील वर्षाचे ( २०१९ - २०२० चे ) सर्व मार्गानी  मिळणारे एकुण उत्पन्न रुपये</b></label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row">: {{up.income}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>वडिलांचा / पालकांचा व्यवसाय</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.vyavsay}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>या पुर्वी शिकत असलेली शाळा</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.school}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5">
                        <label class="form-group form-row"><b>मागील वर्षी परीक्षेत मिळालेले शेकडा गुण</b></label>
                    </div>
                    <div class="col-md-7">
                        <label class="form-group form-row">: {{up.marks}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-left">
                तो / ती २०१९-२०२० मध्ये इयत्ता &emsp;<label class="form-group"><b> {{up.std3}}</b></label>&emsp;
                &emsp;<label class="form-group"><b> {{up.paas}}</b></label>&emsp;
                झाला / झाली आहे.
              </p>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>कुटुंबातील व्यक्तीची संख्या</b></label>
                    </div>
                    <div class="col-md-7">
                        <label class="form-group form-row">: {{up.members}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>बँकेचे नाव</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.bank_name}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>शाखा</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.branch}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>बँक खाते क्रमांक</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.acc_no}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>बँक IFSC code</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.ifsc}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>विद्यार्थ्याचा आधार क्रमांक</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.adhar_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-left" style="word-spacing: 3px;"><b>शाळेचे नियम व अटी मला मान्य असुन ते माझ्यावर बंधनकारक आहेत . माझ्या माहिती प्रमाणे वरील माहीती 
                अगदी बरोबर आहे. मी असे लिहुन देतो / देते की , मला माझ्या पाल्याला सी .बी .एस.ई अभ्यासक्रम 
                असलेल्या या एकलव्य शाळेत शिकविण्याची इच्छा असुन मी स्वखुषीने पाल्याचा प्रवेश घेत आहे. 
                माझ्या पाल्याच्या वर्तणुकीत  कुठलेही गैरवर्तन आढळल्या त्यास मी पूर्णपणे  जबाबदार राहीन. </b></p>
              
                <br>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-7">
                        <label class="form-group form-row"><b>पालकांची स्वाक्षरी किंवा पालकांचा डाव्या हाताचा अंगठा :</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.photo}}" target="blank"> पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
      
  </div>
  </div>
  </div>
