<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="form-header text-center">
                <h5 style="margin-bottom: 5px;"><b>महाराष्ट्र शासन</b></h5>
                <h6 style="margin-bottom: 5px;">प्रकल्पअधिकारी</h6>
                <h6 style="margin-bottom: 1px;">एकात्मिक आदिवासी विकास प्रकल्प, &emsp;<span><label class="form-group"><b>{{up.prakalp}}</b></label></span></h6>
                <h6 style="margin-bottom: 15px;">केंद्रवर्ती अर्थसंकल्प योजना सन  &emsp;<span><label class="form-group"><b>{{up.san}}</b></label></span></h6>
                <h6><b>गट (अ) उत्पन्न निर्मितीच्या किंवा उत्पन्न वाढीच्या योजना</b></h6>
            </div>
            <br/>

            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"> प्रति,</h6>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; मा. प्रकल्पअधिकारी, </h6>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; एकात्मिकआदिवासी विकास प्रकल्प,</h6>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp; <label class="form-group"><b>{{up.jilha}}</b></label></h6>
            
            <br>

            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>पाहिजे असलेल्या योजनेचा नाव</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.yojna}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <p><b><u>अर्ज सादर करतांना खालील बाबीचे पूर्ण दस्तावेजासह माहिती असणे आवश्यक आहे.</u></b></p>
              
              <br>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>अर्जदाराचे पूर्ण नांव</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>अर्जदाराचे पूर्ण पत्ता</b></label>
                    </div>
                    <div class="col-md-9 text-left">
                        <label class="form-group form-row">: {{up.patta}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="form-group form-row"><b>शेती नावावर असल्याचा 7/12 :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.utara}}" target="blank"> 7/12 पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5">
                      <label class="form-group form-row"><b>सदर योजना मिळण्याबाबत ग्रामसेभेचा अहवाल :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.ahvaal}}" target="blank"> अहवाल पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>भ्रमणध्वनी क्रमांक ( मोबाईल नंबर )</b></label>
                    </div>
                    <div class="col-md-7">
                        <label class="form-group form-row">: {{up.mobile_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वैवाहिक स्थिती</b></label>
                    </div>
                    <div class="col-md-7">
                        <label class="form-group form-row">: {{up.married}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-8">
                        <label class="form-group form-row"><b>आदिम जमातीचे/दारिद्रय रेषेखालील/अपंग/विधवा/परित्यक्ता-निराधारमहिला</b></label>
                    </div>
                    <div class="col-md-4 text-left">
                        <label class="form-group form-row">: {{up.aadim}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5">
                        <label class="form-group form-row"><b>दारिद्ररेषेचे प्रमाणपत्र असल्यास दाखला जोडावा :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.daridrya_cf}}" target="blank"> पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>अर्जदाराचे वार्षिक उत्पन्न</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.income}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>उत्पन्नाचे साधन</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.income_src}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>बँकेचे नाव</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.bank_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>खाते क्रमांक</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.acc_no}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>बँकेचा IFSC code</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.ifsc}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>आधारकार्ड नंबर</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.adhar_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-7">
                        <label class="form-group form-row"><b>या पूर्वी या कार्यालयाकडून इतर योजनेचा लाभ घेतलेला आहे काय ?</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.yojna_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              {% if up.yojna_yn == "होय" %}
              <div class="form-group">
                <div class="input-icon">
                  <div class="row"  >
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>असल्यास योजनेचे नांव</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.yojna_nm}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>वर्ष</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.year}}</label>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="form-group">
                <div class="input-icon">
                  <div class="row"  >
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>जात</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.jat}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>जातीचा दाखला सोबत जोडावे :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.jat_cf}}" target="blank"> दाखला पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row"  >
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>रहिवाशी प्रमाणपत्र :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.rahivasi_cf}}" target="blank"> प्रमाणपत्र पहा </a></label>
                    </div>
                  </div>
                </div>
              </div><br>

              <p class="text-left"><b>मी सत्य प्रतिज्ञेवर लिहून देतो की, अर्जात भरलेली माहिती व सोबत जोडलेले दाखले सत्य असून  माहिती व दाखले खोटे आढळल्यास मी दंडात्मक कार्यवाहीस/शिक्षेस पात्र राहील.</b></p>

              <br><br>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>फोटो :</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.photo}}" target="blank"> फोटो पहा </a></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row float-right"><b>अर्जदाराची सही :</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.sign}}" target="blank"> सही पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="form-group">
                <div class="input-icon">
                  <div class="row"  >
                    <div class="col-md-2">
                        <h6 class="float-right"><b>टिप :-</b></h6>
                    </div>
                    <div class="col-md-8 text-left">
                        <p><b>1) एका लाभार्थ्याला एकाच योजनेचा लाभ घेता येईल.</b></p>
                    </div>
                  </div>
                  <div class="row"  >
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-left">
                        <p><b>2) योजनेसाठी अर्ज केला म्हणजे ते मिळेलच असे नाही.</b></p>
                    </div>
                  </div>
                </div>
              </div>

  </div>
  </div>
  </div>
