<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="form-header text-center">
                <h5 style="margin-bottom: 5px;"><b>Application for AH&D KCC.</b></h5>
            </div>
            <br/>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>Date</b></label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row">: {{up.date}}</label>
                      </div>
                  </div>
                </div>
              </div>

              <h6 class="text-center" style="margin-bottom: 15px;"><b>Farmer Details</b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>Enter Name</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>Enter Father Name</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.father}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>Select Gender</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.gender}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 35px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>Caste Category</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.caste}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>Enter Mobile Number</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.mobile}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>Select Aadhar No./ EID No. / Other</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.uid_oreid}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>Enter Adhar/EID/UID No.</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.adhar_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>Select Other ID Proof</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.id_proof}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>id_no</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.id_no}}</label>
                    </div> 
                  </div>
                </div>
              </div>
              <br>

              <h6 class="text-center" style="margin-bottom: 15px;"><b>Residential Address</b></h6>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>State</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.state}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>District</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.dist}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>Sub District</b></label>
                    </div>
                    <div class="col-md-2 text-left">
                        <label class="form-group form-row">: {{up.subdist}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row"><b>Residential Village/Town</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.village}}</label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row"><b>Address</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.address}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <h6 class="text-center" style="margin-bottom: 15px;"><b>Branch Details</b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>Enter Bank IFSC</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.ifsc}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>State Name</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.state_name}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>District Name</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.dist_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>Bank Name</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.bank}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>Branch Name</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.branch}}</label>
                    </div>
                  </div>
                </div>
              </div>
     
              
  </div>
  </div>
  </div>
