<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="form-header text-center">
                <h5 style="margin-bottom: 5px;"><b>न्युक्लिअस बजेट योजनेतर्गत विविध योजनेचा 
                    लाभ घेण्याकरीता करावयाचा अर्जाचा नमूना </b>
                </h5>
                <h4 style="margin-bottom: 10px;"><b>महाराष्ट्र शासन</b></h4>
                <h6 style="margin-bottom: 5px;"><b>प्रकल्प अधिकारी</b></h6>
                <h6 style="margin-bottom: 5px;"><b>एकात्मिक आदिवासी विकास प्रकल्प, नागपूर</b></h6>
                <h6 style="margin-bottom: 15px;"><b>केंद्रवर्ती अर्थसंकल्प योजना सन  2018 - 2019</b></h6>
            </div>
            <br/><br>

            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.date}}</label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" style="border-style: groove; padding-left: 15px; padding-right: 15px; padding-top: 7px; padding-bottom: 7px;">
                    <h6 ><b> प्रकल्प अधिकारी, एकात्मिक आदिवासी विकास प्रकल्प, नागपूर </b></h6>
                </div>
            </div>
            <br/><br>

                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-6 text-left">
                            <label class="form-group form-row"><b>योजनेचे नांव  (सन 19- 20 या वर्षांत मंजूर झालेल्या योजनेतूनच निवड करावी)</b></label>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="form-group form-row">: {{up.yojna}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-2">
                            <label class="form-group form-row"><b>अर्जदाराचे नांव</b></label>
                        </div>
                        <div class="col-md-10">
                            <label class="form-group form-row">: {{up.name}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-3">
                            <label class="form-group form-row"><b>वडिल / पतीचे नांव</b></label>
                        </div>
                        <div class="col-md-9">
                            <label class="form-group form-row">: {{up.fahus_name}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-2">
                            <label class="form-group form-row"><b>आईचे नांव</b></label>
                        </div>
                        <div class="col-md-10">
                            <label class="form-group form-row">: {{up.mother_name}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-3 text-left">
                            <label class="form-group form-row"><b>अर्जदाराचा जन्मदिनांक </b></label>
                        </div>
                        <div class="col-md-4">
                            <label class="form-group form-row">: {{up.birthdate}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-1">
                            <label class="form-group form-row"><b>जमात</b></label>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="form-group form-row">: {{up.jamat}}</label>
                        </div>
                        <div class="col-md-1">
                            <label class="form-group form-row"><b>पोटजात</b></label>
                        </div>
                        <div class="col-md-4 text-left">
                            <label class="form-group form-row">: {{up.potjat}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-4">
                            <label class="form-group form-row"><b>दारिद्रयरेषेखालील कार्ड क्रमांक</b></label>
                        </div>
                        <div class="col-md-8">
                            <label class="form-group form-row">: {{up.daridrya_no}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-3">
                            <label class="form-group form-row"><b>आधारकार्ड क्रमांक</b></label>
                        </div>
                        <div class="col-md-3">
                            <label class="form-group form-row">: {{up.adhar_no}}</label>
                        </div>
                        <div class="col-md-3">
                            <label class="form-group form-row"><b>पॅनकार्ड क्रमांक /टॅन नंबर</b></label>
                        </div>
                        <div class="col-md-3 text-left">
                            <label class="form-group form-row">: {{up.pan}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h6 class="text-center" style="margin-bottom: 15px; border-style: groove;"><b>शिक्षण /तांत्रिक/व्यावसायिक शैक्षणिक पात्रता </b></h6>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-2">
                            <label class="form-group form-row"><b>शिक्षण</b></label>
                        </div>
                        <div class="col-md-10">
                            <label class="form-group form-row">: {{up.edu}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-3">
                            <label class="form-group form-row"><b>तांत्रिक / व्यावसायीक</b></label>
                        </div>
                        <div class="col-md-9 text-left">
                            <label class="form-group form-row">: {{up.tech_edu}}</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-7">
                            <label class="form-group form-row"><b>तहसिलदार यांनी दिलेला मागील वर्षाचा वार्षीक उत्पन्नाचा दाखला  :</b></label>
                        </div>
                        <div class="col-md-3">
                            <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                                style="width:100%!important;color:#fff"  href="/media/{{up.income_cf}}" target="blank"> दाखला पहा </a></label>
                        </div>
                      </div>
                    </div>
                </div>
                
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6 text-left">
                        <label class="form-group form-row"><b>ज्या सक्षम अधिकाऱ्यांनी दिला त्याचे कार्यालयाचे नांव व ठिकाण</b></label>
                    </div>
                    <div class="col-md-6 text-left">
                        <label class="form-group form-row">: {{up.adhikari}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row"><b>बँक खाते प्रकार</b></label>
                    </div>
                    <div class="col-md-9 text-left">
                        <label class="form-group form-row">: {{up.acc_type}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>खाते क्रमांक</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.acc_no}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>IFSC CODE NO.</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.ifsc}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>बँकेचे नांव</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.bank_name}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>बँक शाखा</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.branch}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4" >
                        <label class="form-group form-row"><b>मोबाईल / फोन नंबर स्वत:चा </b></label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>1)</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row"> {{up.mobile1}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>2)</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row"> {{up.mobile2}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>ई-मेल आयडी स्वत:चा</b></label>
                    </div>
                    <div class="col-md-9 text-left">
                        <label class="form-group form-row">: {{up.email_id}}</label>
                    </div>
                  </div>
                </div>
              </div>              
              <br>
              
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <h6 class="text-center" style="margin-bottom: 15px; border-style: groove;"><b>स्थावर मालमत्ता</b></h6>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>गांव/शहर</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.gav}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>तालुका</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.taluka}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>जिल्हा</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.dist}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>शेतजमीन</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.shetjamin}}</label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row"><b>सर्वे/गट नंबर/सि.स.नं.</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.suvey}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row"><b>धारण केलेली शेतजमीन</b></label>
                    </div>
                    <div class="col-md-2 text-left">
                        <label class="form-group form-row">: {{up.jamin}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>पाण्याचे स्त्रोत</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.water_src}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>क्षेत्र हे. आर</b></label>
                    </div>
                    <div class="col-md-10 text-left">
                        <label class="form-group form-row">: {{up.shetra}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>घराचा तपशिल</b></label>
                    </div>
                    <div class="col-md-10 text-left">
                        <label class="form-group form-row">: {{up.home}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>मिळकत नंबर</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.milkat_no}}</label>
                    </div>
                    <div class="col-md-2 text-left">
                        <label class="form-group form-row"><b>क्षेत्र चौरस मिटर</b></label>
                    </div>
                    <div class="col-md-5 text-left">
                        <label class="form-group form-row">: {{up.shetra_chaumi}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h6 class="text-center" style="margin-bottom: 15px; border-style: groove;"><b>कायमचा पत्ता</b></h6>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1 text-left">
                        <label class="form-group form-row"><b>मौजे/शहर</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.mauje1}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पाडा</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.pada1}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पोष्ट</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.post1}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>तालूका</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.taluka1}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>जिल्हा</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.jilha1}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>पिनकोड क्रमांक</b></label>
                    </div>
                    <div class="col-md-2 text-left">
                        <label class="form-group form-row">: {{up.pincode1}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <h6 class="text-center" style="margin-bottom: 15px; border-style: groove;"><b>सध्याचा पत्ता</b></h6>
                  </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1 text-left">
                        <label class="form-group form-row"><b>मौजे/शहर</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.mauje2}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पाडा</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.pada2}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पोष्ट</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.post2}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>तालूका</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.taluka2}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>जिल्हा</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                        <label class="form-group form-row">: {{up.jilha2}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>पिनकोड क्रमांक</b></label>
                    </div>
                    <div class="col-md-2 text-left">
                        <label class="form-group form-row">: {{up.pincode2}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <h6 class="text-left" style="margin-bottom: 15px;"><b>यापुर्वी लाभ घेतलेल्या योजनाचा तपशिल/नाव वर्ष</b></h6>
              <div class="form-group">
                <div style="height:260px;overflow:auto;">
                    <table class="table table-bordered table-striped table-hover main_bany_text">
                      <thead>
                        <tr class="text-center" style="font-size:14px;">
                          <th><b>अ.क.</b></th>
                          <th><b>योजनेचे नाव</b></th>
                          <th><b>वर्ष</b></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td><b>१)</b></td>
                          <td><label class="form-group form-row"> {{up.yojna1}}</label></td>
                          <td><label class="form-group form-row"> {{up.year1}}</label></td>
                        </tr>
                        <tr class="text-center">
                            <td><b>२)</b></td>
                            <td><label class="form-group form-row"> {{up.yojna2}}</label></td>
                            <td><label class="form-group form-row"> {{up.year2}}</label></td>
                        </tr>
                        <tr class="text-center">
                            <td><b>३)</b></td>
                            <td><label class="form-group form-row"> {{up.yojna3}}</label></td>
                            <td><label class="form-group form-row"> {{up.year3}}</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <br>

              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>लाभार्थ्याचे पास्पोट साईज फोटो :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.photo}}" target="blank"> फोटो पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

  </div>
  </div>
  </div>

