<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>कृषि विभाग </h5> 
          <h5>महाराष्ट्र शासन</h5> 
       <h6>(मातीच्या नमुन्याचे सोबत खालील माहिती पाठवावी)</h6>
       <h6>नमुना चिठ्ठी</h6>
        </div>
        <br/>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>नमुना क्रमांक</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.namuna}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>नमुना घेतल्याची तारीख</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.namuna_tarikh}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>शेतकऱ्यांचे संपूर्ण नाव</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.shetkari_name}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>मोबाईल नंबर</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.mobile_number}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>मृद नमुना तपासणी प्रकार</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.mrud_namuna}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>गाव</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.gav}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>पोस्ट</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.post}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>तालुका</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.taluka}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>जिल्हा</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.jilha}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>सर्वे नंबर किंवा ठिकाण</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.sarve}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>जमिनीचा उतारा</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.jamin_utara}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>पाण्याचा निचरा</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.panyacha}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>काही विशेष लक्षणे</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.lakshne}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>जमीनीची खोली</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.jamin_kholi}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>पुढील पीक (जात)</b></label>
              </div>
              <div class="col-md-4">
                <label class="form-group form-row">: १) {{up.pik1}}</label>
              </div>
              <div class="col-md-4">
                <label class="form-group form-row">: २) {{up.pik2}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>ओलीत /कोरडवाहू</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.korad}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-5">
                <label class="form-group form-row"><b>नमुना घेतलेल्या जमिनीचे प्रतिनिधीक क्षेत्र</b></label>
              </div>
              <div class="col-md-7">
                <label class="form-group form-row">: {{up.kshetra}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>मागील हंगामात घेतलेले पीक</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.hangam_pik}}</label>
              </div>
            </div>
          </div>
        </div>
       
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>नमुना घेण्याची सही / हुद्दा</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>नाव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  
  

  
