<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>डॉ. बाबासाहेब आंबेडकर सामाजिक न्याय प्राविण्य राज्यस्तरीय / विभाग स्तरीय  पुरस्कार </h5>
       <h6>अर्जाचा नमुना </h6>
        </div>
            <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जिल्हा</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.jilha_name}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>सन</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.san}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संस्थेचे पूर्ण नांव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संपूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.paripurn_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>भ्रमणध्वनी क्रमांक</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्था नोंदणी अधिनियम- 1860 क्र.</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.adhi1}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>दिनांक</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.adhi1_date}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्था नोंदणी अधिनियम- 1950 क्र.</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.adhi2}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>दिनांक</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.adhi2_date}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संबंधीत संस्थेचे कार्यक्षेत्र</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.sambandhit}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>उपविधी (Byelaws) प्रमाणे संस्थेची उद्दिष्टे</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.upvidhi}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>संस्थेच्या संदर्भात संस्थेच्या कार्यकारी मंडळातील पदाधिकाऱ्यांचे नाव व पत्ता दूरधवनी क्र / भ्रमणध्वनी इत्यादी सविस्तर माहिती</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.padadhi_info}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>शासकीय संस्थेच्या संदर्भात गृहपाल / अधिक्षक यांची माहिती</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.gruhpal_info}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्थेचा प्रकार</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sanstha_prakar}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्थेचे स्वरूप</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sanstha_swarup}}</label>
        </div>
      </div>
    </div>
  </div>
  <h7><b>प्रवेशीतांबाबत माहिती</b></h7>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>मान्य संस्था</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.manya_sanstha}}</label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>प्रत्यक्ष प्रवेशित संख्या</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.pratyaksha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>संस्थेचा मागील 5 वर्षाचा लेखा परिक्षण अहवाल</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.lekha_pari}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>संस्थेचा मागील 5 वर्षाचा वार्षिक अहवाल</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.varshik_aha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>मागील 5 वर्षाचे तपासणीमध्ये प्राप्त झालेली श्रेणी</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.shreni}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>संस्थेमार्फत सुरु असलेल्या विविध उपक्रमांची माहिती</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.upkram}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>स्वतंत्र लेखा परिक्षण होत असल्यास, तीन वर्षाचा अहवाल</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.swatantra_lekha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>संबंधीत संस्था केव्हापासून सुरु आहे, (अनुदानित/ विनाअनुदानित तत्त्वावर)</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.sambandhit_sanstha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>विद्यार्थ्यांच्या सर्वांगीण विकासासाठी तसेच त्यांच्या कलागुणांना वाव देण्यासाठी संस्थेमार्फत घेण्यात येणाऱ्या विविध उपक्रमांचा तपशील</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.vidy_sarva}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>संस्थे मार्फत देण्यात येणाऱ्या सोयी सुविधा उदा. ग्रंथालय, वाचनालय, खेळाचे साहित्य, व्यायामशाळा. इ. साहित्य</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.sansthemarfat}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
          <h7><b>संस्थेने उत्कृष्ट कार्य केल्याबद्दल त्यांना शासना मार्फत किंवा विभिन्न संस्थेमार्फत सत्कार अथवा पारितोषिक मिळाले असल्यास त्याचा तपशील</b></h7>
          <table class="table table-bordered table-striped table-hover main_bany_text">
            <thead>
              <tr class="text-center" style="font-size:14px;">
                <th>अ.क्र.</th>
                <th>पारितोषिकाचे नांव</th>
                <th>कोणामार्फत देण्यात आला  (संस्था / विभाग)</th>
                <th>वर्ष दिनांक</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>1.</td>
                <td>{{up.pari_name1}}</td>
                <td>{{up.from1}}</td>
                <td>{{up.pari_date1}}</td>
              </tr>
              <tr class="text-center">
                <td>2.</td>
                <td>{{up.pari_name2}}</td>
                <td>{{up.from2}}</td>
                <td>{{up.pari_date2}}</td>
              </tr>
              <tr class="text-center">
                <td>3.</td>
                <td>{{up.pari_name3}}</td>
                <td>{{up.from3}}</td>
                <td>{{up.pari_date3}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>सदर संस्थेचे पुरस्कार मिळणे साठी नामनिर्देशन कोणी केलेले आहे ?</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.sadar_sansthes}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>संस्थेविरुद्ध मागील 5 वर्षात दंडात्मक कारवाई झाली असल्यास माहिती (तपशील नमूद करावा)</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.sansthevirudha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>संस्थेमध्ये वित्तीय अनियमिततेबाबत प्रकरणे घडली असल्यास त्याचा तपशील नोंदवावा</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.sansthemdhe}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>संस्थेमध्ये मागील 5 वर्षात विषबाधा अपघाती मृत्यू अनैतिक घटना  असल्यास तपशील नोंदवावा</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.vishbadha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-9">
          <label class="form-group form-row"><b>संस्थेविरुध्द फौजदारी गुन्हा दाखल झाला नसल्याचा जिल्हा पोलीस अधिक्षकाचा दाखला</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5 text-left">
          <label class="form-group form-row"><b>संस्थेचे नियंत्रण अधिकारी सहाय्यक आयुक्त / जिल्हा समाज कल्याण अधिकारी, जिल्हा परिषद यांचे अभिप्राय</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.sansth_niyantran}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>संस्थेचा सार्वजनिक क्षेत्रातील एकूण अनुभव</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.anubhav}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>शेरा</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.shera}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>नांव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.name2}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>स्वाक्षरी</b>  </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:150px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
</div>

</div>

</div>

</div>
  

  
