<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>जिल्हा परिषद, नागपूर पंचायत समिती <b>{{up.samiti}}</b> सन 2021- 22</h5> 
       <h6>बायोगॅस बांधकाम करावयाच्या व्यक्तीने करावयाचा अर्ज</h6>
        </div>
        <br/>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-2">
                <label class="form-group form-row"><b>नाव</b></label>
              </div>
              <div class="col-md-10">
                <label class="form-group form-row">: {{up.name}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-2">
                <label class="form-group form-row"><b>पत्ता</b></label>
              </div>
              <div class="col-md-10">
                <label class="form-group form-row">: {{up.patta}}</label>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-left"><b>खात्यावर असलेली एकूण जमीन :</b></h6>
      </br>
      <div class="form-group">
        <div class="input-icon">
          <div class="row"> 
            <div class="col-md-2">
              <label class="form-group form-row"><b>अ) जिरायत</b></label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.jirayat}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>ब) बागायत</b></label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.bagayat}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>एकूण</b></label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.ekun}}</label>
            </div>
          </div>
        </div>
      </div>
      <h6 class="text-left"><b>जनावरे :</b> </h6>
    </br>
    <div class="form-group">
      <div class="input-icon">
        <div class="row"> 
          <div class="col-md-2">
            <label class="form-group form-row"><b>मोठी</b></label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row">: {{up.mothi}}</label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row"><b>लहान</b></label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row">: {{up.lahan}}</label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row"><b>एकूण</b></label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row">: {{up.jan_ekun}}</label>
          </div>
        </div>
      </div>
    </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-8">
          <label class="form-group form-row"><b>संयंत्र बांधकाम शेतात / घराजवळ करण्यासाठी स्वतःची जागा आहे काय?</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.sanyantra}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संयंत्रास संडास जोडणार आहे काय?</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.sandas}}</label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>होत असल्यास संडासचा उपयोग करणाऱ्यांची संख्या</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.sandas_sankhya}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class="text-left"><b>घरातील व्यक्तीची संख्या : </b></h6>
          </br>
          <div class="form-group">
            <div class="input-icon">
              <div class="row"> 
                <div class="col-md-2">
                  <label class="form-group form-row"><b>लहान</b></label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row">: {{up.vyakti_lahan}}</label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row"><b>मोठी</b></label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row">: {{up.vyakti_mothi}}</label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row"><b>एकूण</b></label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row">: {{up.vyakti_ekun}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-group form-row"><b>गॅस स्वयंपाक / प्रकाश यासाठी आवश्यकता आहे</b></label>
                </div>
                <div class="col-md-6">
                  <label class="form-group form-row">: {{up.gas_sway}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                <div class="col-md-8">
                  <label class="form-group form-row"><b>सध्या वापरासाठी लागणारी लाकडे, गोवरी यासाठी एका वर्षासाठी लागणारी रक्कम</b></label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.rakkam}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                <div class="col-md-8">
                  <label class="form-group form-row"><b>लाभार्थी अ.जा. / अ.ज / अल्प / अत्यल्प / भूमीहीन / शेतमजुर आहे काय?</b></label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.shetmajur}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                <div class="col-md-8">
                  <label class="form-group form-row"><b>लाभार्थी संयंत्र कोणता व किती घनमिटर बांधायचा आहे</b></label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.ghanmiter}}</label>
                </div>
              </div>
            </div>
          </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>प्रकार</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.prakar}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>आकार</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.akar}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>अर्जदाराची सही </b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>नाव</b> </label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>पत्ता</b> </label>
        </div>
        <div class="col-md-10">
          <label class="form-group form-row">: {{up.patta1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div style="height:190px;overflow:auto;">
    <table class="table table-bordered table-striped table-hover main_bany_text">
      <thead>
        <tr class="text-center" style="font-size:14px;">
          <th>अ. क्र.</th>
          <th>अर्जदाराचे नाव</th>
          <th>क्रमांक 2 प्रमाणे खात्यावर असलेली जमतीन हे / आर.</th>
          <th>जनावरांची संख्या</th>
          <th>शिफारस करण्यासाठी आलेल्या संयंत्राचा प्रकार व आकार</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td>1.</td>
          <td>{{up.arj_name1}}</td>
          <td>{{up.he_aar}}</td>
          <td>{{up.sankhya}}</td>
          <td>{{up.pra_akar}}</td>
        </tr>
        <tr class="text-center">
          <td>2.</td>
          <td>{{up.arj_name2}}</td>
          <td>{{up.he_aar2}}</td>
          <td>{{up.sankhya2}}</td>
          <td>{{up.pra_akar2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
  
  

  
