<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>अर्ज</h5>
       <h6>राष्ट्रीय कृषि विकास योजनेअंतर्गत</h6>
       <h6>पुण्यश्लोक अहिल्यादेवी होळकर रोपवाटिका योजना</h6>
        </div>
        <br/>
            <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
            <h6 class=" text-left" style="font-weight: 500;"> मा. तालुका कृषि अधिकारी, </br> <b>{{up.name}}</b> </h6>
            <br/>
            <h6 class=" text-justify" style="font-weight: 500;">विषय:-  राष्ट्रीय कृषि विकास योजनेअंतर्गत पुण्यश्लोक अहिल्यादेवी होळकर रोपवाटिका 
              योजनेअंतर्ग सन <b>{{up.san}}</b> या वर्षात <b>{{up.varshat}}</b> घटकाचा लाभ मिळण्याबाबत.  </h6>
              <br/>
              <h6 class=" text-left" style="font-weight: 500;"> महोदय, </h6>
              <br/>
              <h6 class=" text-justify" style="font-weight: 500;">राष्ट्रीय कृषि विकास योजनेअंतर्गत पुण्यश्लोक अहिल्यादेवी होळकर रोपवाटिका 
                योजनेअंतर्गत सन <b>{{up.san1}}</b> मध्ये <b>{{up.madhe}}</b> या रोपवाटिका उभारणीकरिता अर्थसहाय्य मिळण्यासाठी अर्ज सादर करीत आहे. 
                त्याचा तपशील खालीलप्रमाणे असून अर्थसहाय्य मिळण्याबाबत विनंती आहे.  </h6>
                <br/>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>लाभार्थ्यांचे पूर्ण नाव</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.name}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>गाव</b></label>
              </div>
              <div class="col-md-9">
                <label class="form-group form-row">: {{up.gav}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>तालुका</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.taluka}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>जिल्हा</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.jilha2}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>पिन कोड</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.pin}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>मो. नंबर</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.mobile_number}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>ई.मेल</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.email_id}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>आधार नं.</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.dhaar_no}}</label>
              </div>
            </div>
          </div>
        </div>
      <div class="form-group">
        <div class="input-icon">
          <div class="row"> 
            <div class="col-md-3">
              <label class="form-group form-row"><b>लाभार्थी प्रकार</b></label>
            </div>
            <div class="col-md-9">
              <label class="form-group form-row">: {{up.prakar}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <div class="row"> 
            <div class="col-md-3">
              <label class="form-group form-row"><b>लाभार्थी वर्गवारी</b></label>
            </div>
            <div class="col-md-9">
              <label class="form-group form-row">: {{up.vargvari}}</label>
            </div>
          </div>
        </div>
      </div>
      <h6 class="text-left"><b>प्रकल्प स्थळाचा पत्ता :</b> </h6>
    </br>
    <div class="form-group">
      <div class="input-icon">
        <div class="row"> 
          <div class="col-md-4">
            <label class="form-group form-row"><b>सर्व्हे नं. (हिस्सा / पोटहिस्सासह)</b></label>
          </div>
          <div class="col-md-8">
            <label class="form-group form-row">: {{up.sarve_no}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-icon">
        <div class="row"> 
          <div class="col-md-3">
            <label class="form-group form-row"><b>गाव</b></label>
          </div>
          <div class="col-md-3">
            <label class="form-group form-row">: {{up.gav1}}</label>
          </div>
          <div class="col-md-3">
            <label class="form-group form-row"><b>तालुका</b></label>
          </div>
          <div class="col-md-3">
            <label class="form-group form-row">: {{up.taluka1}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-icon">
        <div class="row"> 
          <div class="col-md-3">
            <label class="form-group form-row"><b>जिल्हा</b></label>
          </div>
          <div class="col-md-3">
            <label class="form-group form-row">: {{up.jilha1}}</label>
          </div>
          <div class="col-md-3">
            <label class="form-group form-row"><b>पिनकोड</b></label>
          </div>
          <div class="col-md-3">
            <label class="form-group form-row">: {{up.pin1}}</label>
          </div>
        </div>
      </div>
    </div>
    <h6 class="text-left"><b>लाभार्थ्याच्या बँक खात्याचा तपशील :</b></h6>
          </br>
          <div class="form-group">
            <div class="input-icon">
              <div class="row"> 
                <div class="col-md-3">
                  <label class="form-group form-row"><b>बँकेचे नाव</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.bank_name}}</label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row"><b>शाखा</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.shakha}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon">
              <div class="row"> 
                <div class="col-md-3">
                  <label class="form-group form-row"><b>खाते नं.</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.acc_no}}</label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row"><b>शाखा</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.ifsc}}</label>
                </div>
              </div>
            </div>
          </div>
        <h6 class="text-left"><b>अर्जासोबत जोडलेल्या कागद पत्राचा तपशील (अर्जासोबत जोडलेल्या छायांकित प्रती साक्षांकित केलेल्या असाव्यात) :</b></h6>
        </br>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>७/१२ चा उतारा</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.doc1}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>८ अ</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.doc2}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>स्थळदर्शक नकाशा</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.doc3}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>चतुःसीमा</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.doc4}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-5">
                <label class="form-group form-row"><b>बँक खाते पासबुक प्रथम पानाची छायांकित प्रत</b></label>
              </div>
              <div class="col-md-2">
                <label class="form-group form-row">: {{up.doc5}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>आधार कार्डची छायांकित प्रत</b></label>
              </div>
              <div class="col-md-2">
                <label class="form-group form-row">: {{up.doc6}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-6">
                <label class="form-group form-row"><b>संवर्ग प्रमाणपत्र (अ.जाती / अ.जमाती शेतकऱ्यांसाठी)</b></label>
              </div>
              <div class="col-md-2">
                <label class="form-group form-row">: {{up.doc7}}</label>
              </div>
              <div class="col-md-2">
                <label class="form-group form-row"><b>हमी पत्र</b></label>
              </div>
              <div class="col-md-2">
                <label class="form-group form-row">: {{up.doc8}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-8">
                <label class="form-group form-row"><b>कृषि पदवी बाबतचे कागदपत्रे, महिला शेतकरी गट  असल्यास त्याचे नोंदणी पत्र</b></label>
              </div>
              <div class="col-md-4">
                <label class="form-group form-row">: {{up.doc9}}</label>
              </div>
            </div>
          </div>
        </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>स्वाक्षरी </b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>ठिकाण</b> </label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row">: {{up.thikan}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>नाव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>दिनांक</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.dinank}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  
  

  
