
    <div class="container">
      <div class="row">
          <div class="col-12 text-center">
            <h4>कौशल्य विकास प्रशिक्षणासाठी इच्छुक लाभार्थ्यांकरिता</h4>
        <h5>अर्जाचा नमुना </h5>
            <br>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>आडनाव</b> </label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row">: {{up.second_name}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>नाव </b></label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row">: {{up.umedwar_name}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>वडिलांचे / पतीचे नाव </b> </label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row">: {{up.fa_name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>संपूर्ण पत्ता</b> </label>
                  </div>
                  <div class="col-md-10">
                    <label class="form-group form-row">: {{up.paripurn_patta}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>जन्मतारीख</b> </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.birth_date}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>आधार कार्ड क्र.</b></label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.adhaar_no}}</label>
                  </div>
                </div>
              </div>
            </div>
                <div class="form-group" >
                  <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-2">
                          <label class="form-group form-row"><b>भ्रमणध्वनी क्रमांक </b></label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group form-row">: {{up.mobile_number}}</label>
                        </div>
                        <div class="col-md-2">
                          <label class="form-group form-row"><b>ई-मेल आयडी</b></label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group form-row">: {{up.email_id}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" >
                    <div class="input-icon">
                      <div class="row">
                        <div class="col-md-2">
                          <label class="form-group form-row"><b>प्रवर्ग</b> </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group form-row">: {{up.pravarg}}</label>
                        </div>
                        <div class="col-md-2">
                          <label class="form-group form-row"><b>लिंग</b> </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group form-row">: {{up.gender}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-2">
                        <label class="form-group form-row"><b>धर्म</b> </label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row">: {{up.dharma}}</label>
                      </div>
                      <div class="col-md-2">
                        <label class="form-group form-row"><b>जात</b>  </label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row">: {{up.jat}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-2">
                        <label class="form-group form-row"><b>शिक्षण</b> </label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row">: {{up.education}}</label>
                      </div>
                      <div class="col-md-2">
                        <label class="form-group form-row"><b>शाखा</b> </label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row">: {{up.shakha}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <label class="form-group form-row"><b>अर्जदार महाराष्ट्राचा रहिवासी आहे का?</b></label>
                      </div>
                      <div class="col-md-6 text-center">
                        <label class="form-group form-row">: {{ up.rahivasi }}</label>
                      </div>
                    </div>
                  </div>
                </div>
                  <h6 class=" text-left" style="font-weight: 500;"><b>कोणत्या क्षेत्रात प्रशिक्षण घ्यावयाचे आहे? </b></h6>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-12">
                          <h6 class=" text-left" style="font-weight: 500;"> <b> 1) </b>     {{up.prashikshan}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-12">
                          <h6 class=" text-left" style="font-weight: 500;"> <b> 2) </b>     {{up.prashikshan1}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-12">
                          <h6 class=" text-left" style="font-weight: 500;"> <b> 3) </b>     {{up.prashikshan2}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                     <h6 class=" text-left" style="font-weight: 500;"><b>कोणत्या कोर्सेसकरीता  प्रशिक्षण घ्यावयाचे आहे?</b></h6>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-12">
                          <h6 class=" text-left" style="font-weight: 500;"> <b> 1) </b>     {{up.course_prashikshan}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-12">
                          <h6 class=" text-left" style="font-weight: 500;"> <b> 2) </b>     {{up.course_prashikshan1}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-12">
                          <h6 class=" text-left" style="font-weight: 500;"> <b> 3) </b>     {{up.course_prashikshan2}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <label class="form-group form-row"><b>या पूर्वी कुठले कौशल्य विकासाबाबतचे प्रशिक्षण घेतले आहे का?</b></label>
                      </div>
                      <div class="col-md-6 text-center">
                        <label class="form-group form-row">: {{ up.kau_prashikshan }}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <label class="form-group form-row"><b>कौशल्य विकासाबाबतचे प्रशिक्षण घेतले असल्यास नमूद करावे</b></label>
                      </div>
                      <div class="col-md-6 text-center">
                        <label class="form-group form-row">: {{up.vikas_prashikshan}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                
      <!-- <label class="form-group form-row">उमेदवाराची स्वाक्षरी: <input type="file" name="umedwar_sign" class="form-control" required></label> -->
                
              </div>
          </div>
        </div>