<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>  बालसंगोपन योजनेच्या लाभार्थी अर्ज नमुना</h5> 
       <h6> महिला व बाल विकास विभाग महाराष्ट्र राज्य</h6>
        </div>
        <br/>
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-4">
                <label class="form-group form-row"><b>बालकाचे नाव</b></label>
              </div>
              <div class="col-md-8">
                <label class="form-group form-row">: {{up.name}}</label>
              </div>
            </div>
          </div>
        </div>
        
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>सध्याचे वय</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.age}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>जन्मतारीख</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>बालकाची शैक्षणीक स्थिती</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.education}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>नैसर्गीक पालकाचे नाव</b> </label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.palak_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>नैसर्गीक पालकाचा पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>पर्यायी संगोपन कर्त्या पालकाचे नाव</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.palak_name1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>पर्यायी संगोपन कर्त्या पालकाचा पत्ता</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.patta1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>पालकाचे बालकाशी नाते</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.nate}}</label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>पालनकर्त्या पालकाचा उत्पन्न</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.income}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>पालनकर्त्या पालकाचा व्यवसाय</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.buisness}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;"><b>कुंटुबांतील व्यक्तीची माहिती</b></h6>
    </br>
    <div class="form-group">
      <div class="input-icon">
        <div class="row">
          <div class="col-md-4">
            <label class="form-group form-row"><b>आई हयात आहे काय?</b></label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row">: {{up.aai}}</label>
          </div>
          <div class="col-md-4">
            <label class="form-group form-row"><b>वडील हयात आहे काय?</b></label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row">: {{up.vadil}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-icon">
        <div class="row">
          <div class="col-md-4">
            <label class="form-group form-row"><b>{{up.mahiti}}</b></label>
          </div>
          <div class="col-md-4">
            <label class="form-group form-row"><b>पालकाची सामाजिक स्थिती</b></label>
          </div>
          <div class="col-md-4">
            <label class="form-group form-row">: {{up.sthiti}}</label>
          </div>
        </div>
      </div>
    </div>
    <h6 class=" text-left" style="font-weight: 500;"><b>कुटुंबात राहात असलेल्या एकूण व्यक्तीची संख्या</b></h6>
          </br>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-2">
                  <label class="form-group form-row"><b>भाऊ(वय)</b></label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row">: {{up.bhau}}</label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row"><b>बहीण(वय)</b></label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row">: {{up.bahin}}</label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row"><b>आजी/आजोबा</b></label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row">: {{up.aaji}}</label>
                </div>
              </div>
            </div>
          </div>
 
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संपूर्ण नाव</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>सही</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संपूर्ण पत्ता</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.patta2}}</label>
        </div>
      </div>
    </div>
  </div>
 
</div>
</div>
</div>
  
  

  
