<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5><b>भारतरत्न डॉ. बाबासाहेब आंबेडकर स्वाधार योजनेकरिता करावयाचा अर्ज</b></h5>
        </div>
        <br/>
        <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
        <h6 class=" text-left" style="font-weight: 500;"> सहाय्यक आयुक्त,</h6>
        <h6 class=" text-left" style="font-weight: 500;"> समाज कल्याण, नागपूर</h6><br/>
        <h6 class=" text-left" style="font-weight: 500;">महोदय / महोदया,</h6><br/>
        <div style="text-align: justify;">
        <h7> मी भारतरत्न डॉ. बाबासाहेब आंबेडकर स्वाधार योजनेचा लाभ मिळण्यासाठी माझे आवेदन पत्र सादर करीत आहे. 
          आवेदन पत्रात नमूद केलेली माहिती माझ्या माहितीनुसार खरी आहे. मी सदर योजनेच्या सर्व अटी व शर्ती पूर्णपणे वाचलेल्या 
          असून त्या मला अवगत झाल्या आहेत. योजनेचा लाभ मिळाल्यास मी सदर योजनेसाठी लागू असलेल्या नियमांचे / अटींचे 
          कसोशीने पालन करीन अशी मी हमी देत आहे.<br/><br/>
          मी खोटी माहिती व कागदपत्रे देऊन लाभ घेतल्यास किंवा शैक्षणिक अभ्यासक्रम पूर्ण न केल्यास अथवा 
          नोकरी व व्यवसाय करीत असल्यास आणि इतर मार्गाने या योजनेचा लाभ घेऊन गैरवापर केल्याचे निदर्शनास आल्यास
           मी कारवाईस पात्र राहील.  तसेच सदर योजनेअंतर्गत मला मिळालेली रक्कम (12टक्के) व्याजासह शासनास परत 
           करेन याची मला जाणीव आहे.</h7>
          </div>
          <br/>
           <h6 class=" text-right" style="font-weight: 500;"> आपला / आपली विश्वासू </h6>
           <br/>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>स्थळ</b>  </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.place1}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>दिनांक</b> </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.end_date1}}</label>
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                <div class="col-md-2">
                  <label class="form-group form-row"><b>अर्जदाराचे नाव</b>  </label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.arjname}}</label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row"><b>अर्जदाराची स्वाक्षरी</b> </label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                    style="width:150px!important;color:#fff"  href="/media/{{up.signature1}}" target="blank">सही पहा</a></label>
                </div>
              </div>
            </div>
        </div>
        <div class="form-group" >
          <div class="input-icon">
            <div class="row">
              <div class="col-md-2">
                <label class="form-group form-row"><b>मोबाईल क्रमांक</b>  </label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.mob_number}}</label>
              </div>
              <div class="col-md-2">
                <label class="form-group form-row"><b>आधार क्रमांक</b> </label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.adhar}}</label>
              </div>
              <div class="col-md-2">
                <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                  style="width:150px!important;color:#fff"  href="/media/{{up.photo}}" target="blank">फोटो पहा</a></label>
              </div>
            </div>
          </div>
      </div>
      <div>
        <h6 style="text-align: left;color: red;"><b>अर्जदाराची माहिती</b></h6>
      </div>
      <br/>
      <h7>अर्जदार विद्यार्थ्यांचे संपूर्ण नाव</h7>
      <div class="form-group" >
        <div class="input-icon">
          <div class="row">
            <div class="col-md-2">
              <label class="form-group form-row"><b>आडनाव</b> </label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.sur_name}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>नाव </b></label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.name}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>वडिलांचे नाव </b> </label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.fa_name}}</label>
            </div>
          </div>
        </div>
      </div>
      <h7>वडीलांचे पुर्ण नाव</h7>
      <div class="form-group" >
        <div class="input-icon">
          <div class="row">
            <div class="col-md-2">
              <label class="form-group form-row"><b>आडनाव</b> </label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.sur_name1}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>नाव </b></label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.name1}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>वडिलांचे नाव </b> </label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.fa_name1}}</label>
            </div>
          </div>
        </div>
      </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>अर्जदार विद्यार्थ्यांनी विवाहित असेल तर पतीचे नाव व पत्ता</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.hus_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>आईचे पूर्ण नाव</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.mo_name}}</label>
        </div>
        
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
       <div class="col-md-3">
          <label class="form-group form-row"><b>जात</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.pravarg}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>प्रवर्ग / पोटजात</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.pot}}</label>
        </div>
      </div>
    </div>
  </div>
  <h7>अर्जदाराचे मूळ राहण्याचे ठिकाण व पत्रव्यवहाराचा पूर्ण पत्ता ( पिनकोड )</h7>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>घर क्रमांक</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.ghar_kr}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>रस्ता / गल्ली</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.rasta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>जवळची खूण</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.khun}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>गाव / शहर</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.gav}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>तालुका</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.taluka}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जिल्हा</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.jilha}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>पिन क्रमांक</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.pin}}</label>
        </div>
      </div>
    </div>
  </div>
  <h7>उपविभागीय जिल्हाधिकारी उपजिल्हाधिकारी यांनी दिलेला रहिवासी दाखला</h7>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>प्रमाणपत्र क्रमांक</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.praman}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>दिनांक</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.dakhla_date}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>कार्यालयाचे नाव</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.karya_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-8">
          <label class="form-group form-row"><b>अर्जदाराचा मोबाईल क्रमांक असल्या दूरध्वनी क्रमांक (एसटीडी कोडसह)</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>अर्जदार दिव्यांग आहे का? दिव्यांगत्वाचा प्रकार टक्केवारी </b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.divyang}}</label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h6 style="text-align: left; color: red;"><b>जातीच्या दाखल्याचा तपशील</b></h6>
  </div>
  <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अर्जदाराने ज्या जिल्ह्यातून जातीचा दाखला काढला आहे त्या जिल्ह्याचे नाव</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.jilha_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <h7>अनु जाती व नवबौद्ध असल्याचे उपविभागीय अधिकारी / उपजिल्हाधिकारी यांनी दिलेल्या जात प्रमाणपत्रातील माहिती</h7>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>प्रमाणपत्र क्रमांक</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.praman1}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जारी केल्याचा दिनांक</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.jari_date}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जात</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.jat}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>गाव</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.gav1}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>तालुका</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.taluka1}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जिल्हा</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.jilha1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>अर्जदाराचा आधार क्रमांक</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.adhar_card_no}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4 text-left">
          <label class="form-group form-row"><b>आधारकार्ड वरील पत्ता</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.adhar_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h6 style="text-align: left; color: red;"><b>बँकेचा तपशील</b></h6>
  </div>
  <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>राष्ट्रीयकृत / शेड्युल्ड बँकेचे नाव</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.bank_name}}</label>
        </div>
          <div class="col-md-2">
            <label class="form-group form-row"><b>शाखा</b></label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row">: {{up.shakha}}</label>
          </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>खाते क्रमांक</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.acc_no}}</label>
        </div>
          <div class="col-md-2">
            <label class="form-group form-row"><b>I.F.S.C. कोड</b></label>
          </div>
          <div class="col-md-2">
            <label class="form-group form-row">: {{up.ifsc}}</label>
          </div>
      </div>
    </div>
  </div>
  
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6">
        <label class="form-group form-row"><b>बँक खाते आधारकार्डाशी संलग्न केल्याबाबतचा पुरावा</b>  </label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
        style="width:100px!important;color:#fff"  href="/media/{{up.purava}}" target="blank"> पहा </a></label>
      </div>
    </div>
  </div>
</div>
<div>
  <h6 style="text-align: left; color: red;"><b>प्रवेशित महाविद्यालयाची माहिती</b></h6>
</div>
<br/>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6 text-left">
        <label class="form-group form-row"><b>ज्या महाविद्यालयात अर्जदाराने प्रवेश घेतला आहे त्या महाविद्यालयाचे नाव</b></label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row">: {{up.maha_name}}</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6">
        <label class="form-group form-row"><b>महाविद्यालयाचा पत्ता</b></label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row">: {{up.maha_patta}}</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6 text-left">
        <label class="form-group form-row"><b>महाविद्यालयाने विद्यार्थ्यास दिलेला नोंदणी क्रमांक / सर्वसाधारण नोंदणीवहीतील नोंद क्रमांक / ओळखपत्र क्रमांक</b></label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row">: {{up.idno}}</label>
      </div>
    </div>
  </div>
</div>
<div>
  <h6 style="text-align: left;color: red;"><b> प्रवेशिका अभ्यासक्रमाची माहिती</b></h6>
</div>
<br/>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6 text-left">
        <label class="form-group form-row"><b>अभ्यासक्रमाचे नाव</b></label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row">: {{up.abhyas_name}}</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-6 text-left">
        <label class="form-group form-row"><b>प्रवेशित वर्ष (पहिली / दुसरी / तिसरी / चौथी / पाचवे)</b></label>
      </div>
      <div class="col-md-6">
        <label class="form-group form-row">: {{up.year}}</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-3">
        <label class="form-group form-row"><b>प्रवेश दिनांक व वर्ष</b></label>
      </div>
      <div class="col-md-3">
        <label class="form-group form-row">: {{up.pravesh_date}}</label>
      </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>अभ्यासक्रमाचा कालावधी (किती वर्षाचा अभ्यासक्रम)</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.kalavadhi}}</label>
        </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-7 text-left">
        <label class="form-group form-row"><b>अभ्यासक्रम पदवी / पदविका / पदव्युत्तर (इतर असल्यास नोंद करावे)</b></label>
      </div>
      <div class="col-md-5">
        <label class="form-group form-row">: {{up.graduation}}</label>
      </div>
    </div>
  </div>
</div>
<div>
  <h6 style="text-align: left;color: red;"><b>गुणांची टक्केवारी</b></h6>
</div>
<br/>
<div style="overflow:auto;">
<table class="table table-bordered table-striped table-hover main_bany_text">
  <thead>
    <tr class="text-center" style="font-size:14px;">
      <th></th>
      <th>प्रवेश वर्ष</th>
      <th>उत्तीर्ण महिना व वर्ष</th>
      <th>एकूण गुण</th>
      <th>एकूण पैकी प्राप्त गुण</th>
      <th>गुणांची टक्केवारी</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>इयत्ता १० वी </td>
      <td>{{up.pravesh_date1}}</td>
      <td>{{up.uttirna}}</td>
      <td>{{up.ekun_gun}}</td>
      <td>{{up.prapta_gun}}</td>
      <td>{{up.takka}}</td>
    </tr>
    <tr class="text-center">
      <td>इयत्ता १२ वी</td>
      <td>{{up.pravesh_date2}}</td>
      <td>{{up.uttirna1}}</td>
      <td>{{up.ekun_gun1}}</td>
      <td>{{up.prapta_gun1}}</td>
      <td>{{up.takka1}}</td>
    </tr>
    <tr class="text-center">
      <td>पदवी</td>
      <td>{{up.pravesh_date3}}</td>
      <td>{{up.uttirna2}}</td>
      <td>{{up.ekun_gun2}}</td>
      <td>{{up.prapta_gun2}}</td>
      <td>{{up.takka2}}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-8 text-left">
        <label class="form-group form-row"><b>अर्जदाराने अनू जातीच्या विद्यार्थ्यांसाठी देय असणाऱ्या शिष्यवृत्ती शैक्षणिक परीक्षा फी योजनेचा लाभ घेतला आहे का?</b></label>
      </div>
      <div class="col-md-4 text-center">
        <label class="form-group form-row">: {{ up.fee }}</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-8 text-left">
        <label class="form-group form-row"><b>घेतले असल्यास त्याचा युजर आय.डी क्रमांक</b></label>
      </div>
      <div class="col-md-4 text-center">
        <label class="form-group form-row">: {{ up.userid }}</label>
      </div>
    </div>
  </div>
</div>
<div>
  <h6 style="text-align: left;color: red;"><b>अर्जदाराच्या पालकांची माहिती</b></h6>
</div>
<br/>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-3">
        <label class="form-group form-row"><b>पालकांचे पूर्ण नाव</b></label>
      </div>
      <div class="col-md-3">
        <label class="form-group form-row">: {{up.palak_name}}</label>
      </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>पालकाचे अर्जदाराशी असलेले नाते</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.nate}}</label>
        </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
        <div class="col-md-8">
          <label class="form-group form-row"><b>वडील जीवित नसल्यास त्याचे मृत्यूचे प्रमाणपत्र</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.mrutyu_purava}}" target="blank">पहा</a></label>
        </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-8 text-left">
        <label class="form-group form-row"><b>पालकांचा व्यवसाय</b></label>
      </div>
      <div class="col-md-4 text-center">
        <label class="form-group form-row">: {{ up.business }}</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-8 text-left">
        <label class="form-group form-row"><b>जेथे व्यवसाय करतात तेथील पत्रव्यवहाराचा पत्ता</b></label>
      </div>
      <div class="col-md-4 text-center">
        <label class="form-group form-row">: {{ up.business_patta }}</label>
      </div>
    </div>
  </div>
</div>
<h6>पालकांचे मागील वर्षाचे वार्षिक उत्पन्न तहसीलदार यांनी दिलेले प्रमाणपत्र किंवा जेथे सेवा करीत असतील तेथील कार्यालय प्रमुखाने प्रमाणित केल्याचे वार्षिक वेतन प्रमाणपत्राची साक्षांकित प्रत जोडावी</h6>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-3">
        <label class="form-group form-row"><b>रुपये</b></label>
      </div>
      <div class="col-md-3">
        <label class="form-group form-row">: {{up.income}}</label>
      </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>वर्ष</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.income_yr}}</label>
        </div>
    </div>
  </div>
</div>
<div style="text-align: justify;">
  <h7> मी दिलेली माहिती खोटी  आढळल्यास किंवा माझ्या पाल्याने शैक्षणिक अभ्यासक्रम पूर्ण न केल्यास अथवा नोकरी व्यवसाय करीत 
    असल्यास आणि इतर मार्गाने या योजनेचा लाभ घेऊन गैरवापर केल्याचे निदर्शनास आल्यास माझ्या पाल्यास सदर योजनेचा मिळत 
    असलेला लाभ रद्द होईल, याची तसेच अशा प्रकरणी सदर योजने अंतर्गत माझ्या पाल्यास मिळालेली रक्कम
     १२ टक्के व्याजासह परत करीन अशी लेखी हमी देत आहे. </h7>
    </div><br/>
    <div class="form-group" >
      <div class="input-icon">
        <div class="row">
            <div class="col-md-4">
              <label class="form-group form-row"><b>स्थळ</b></label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row">: {{up.place}}</label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row"><b>दिनांक</b></label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row">: {{up.end_date}}</label>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <div class="input-icon">
        <div class="row">
            <div class="col-md-3">
              <label class="form-group form-row"><b>१) साक्षीदारांचे नाव</b></label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row">: {{up.sakshi1}}</label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row"><b>स्वाक्षरी</b></label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                style="width:150px!important;color:#fff"  href="/media/{{up.sakshi1_sign}}" target="blank">सही पहा</a></label>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <div class="input-icon">
        <div class="row">
            <div class="col-md-3">
              <label class="form-group form-row"><b>२) साक्षीदारांचे नाव</b></label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row">: {{up.sakshi2}}</label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row"><b>स्वाक्षरी</b></label>
            </div>
            <div class="col-md-3">
              <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                style="width:150px!important;color:#fff"  href="/media/{{up.sakshi2_sign}}" target="blank">सही पहा</a></label>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group" >
    <div class="input-icon">
      <div class="row">
          <div class="col-md-3">
            <label class="form-group form-row"><b>पालकाची स्वाक्षरी</b></label>
          </div>
          <div class="col-md-4">
            <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
              style="width:150px!important;color:#fff"  href="/media/{{up.signature}}" target="blank">सही पहा</a></label>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  
  

  
