<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
        <h6 class=" text-left" style="font-weight: 500;"> मा .सहाय्यक आयुक्त मत्स्यव्यवसाय </h6>
        <h6 class=" text-left" style="font-weight: 500;"> नागपूर</h6>
      </br>
        <h6 class=" text-left" style="font-weight: 500;">विषय - नायलॉन सुत / जाळी , होडी करीता सन <b>{{up.san}}</b> करीता अनुदान मंजूर करणेबाबत.</h6>
        </br>
        <h6 class=" text-left" style="font-weight: 500;"> महोदय,</h6>
           <h6 class=" text-justify" style="font-weight: 500;">वरील विषआन्वये विनंती करण्यात येते की, आमच्या संस्थेकडे <b>{{up.talav}}</b>
              तलाव मासेमारी करीता ठेक्याने आहे. सदर तलावामध्ये संस्थेचे सभासद मासेमारी करून उदरनिर्वाह करीत आहेत. आमच्या संस्थेचे एकूण  <b>{{up.sabhasad}}</b>  
              सभासद असून त्यापैकी <b>{{up.ekun}}</b> सभासद क्रियाशिल आहे. सदर
              सभासदांना मासेमारी करण्याकरीता जाळे व होडी ची आवश्यकता आहे. तरी सदर सभासदांना सोबतच्या यादी नुसार
              अनुदान मंजूर करण्याकरीता प्रस्ताव सादर करण्यात येत आहे.</h6>
          </br>
          <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                  <div class="col-md-6">
                    <label class="form-group form-row"><b>संस्थेचा सही व शिक्का </b></label>
                  </div>
                  <div class="col-md-6">
                    <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                      style="width:150px!important;color:#fff"  href="/media/{{up.sahi}}" target="blank">सही पहा</a></label>
                  </div>
              </div>
            </div>
          </div>
  
</div>
</div>
</div>
  
  

  
