<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="form-header text-center">
                <h5 style="margin-bottom: 5px;">महाराष्ट्र शासन</h5>
                <h6 style="margin-bottom: 5px;">जिल्हा रेशीम कार्यालय, <span><label>&ensp;<b>{{up.jilha}}</b>&ensp;</label></span> </h6>
                <h6 style="margin-bottom: 5px;">महारेशीम अभियान- 2021 अंतर्गत रेशीम उद्योगाकरीता नाव नोंदणी नमुना फॉर्म.</h6>
            </div>
            <br/>
            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-9">
                        <label class="form-group form-row float-right"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.dinank}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"> <b>प्रति,</b></h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp;<b> मा. रेशीम विकास अधिकारी श्रेणी -1/2, </b></h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp;<b> जिल्हा रेशीम कार्यालय, </b></h6>
              <h6 class=" text-left" style="font-weight: 500;"> <label class="form-group form-row">&emsp;&emsp; {{up.jilha2}}</label></h6>
              
              <h6 class="text-center"><b>विषय :- महारेशीम अभियान -2021 अंतर्गत रेशीम उद्योग सुरू करण्याकरीता  नोंदणी करणे बाबत. </b></h6>

              <p class="text-left"><b>महोदय ,</b></p>
              <p class="text-left"> &emsp;&emsp;&emsp;&emsp;
                <b>उपरोक्त विषयांस अनुसरून मी चालु वर्षी सन 2020-21 मध्ये रेशीम उद्योग करण्यासाठी इच्छुक 
                असून महारेशीम अभीयान-2021 अंतर्गत तुती लागवड करण्यासाठी नाव नोंदणी करीत आहे, माझी 
                वैयक्तीक माहिती खालील प्रमाणे आहे.</b>
              </p>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>योजना नाव</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.yojna}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>नाव</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>लिंग</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.gender}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जन्म वर्ष</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.birthyear}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>जात</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.jat}}</label>
                    </div>             
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon" >
                  <div class="row">
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>पत्ता</b></label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>मु. पो.</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.mukam}}</label>
                    </div>  
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>तालुका</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.taluka}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>जिल्हा</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.dist}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>मोबाईल नं.</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.mobile_no}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>आधार क्र.</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.adhar_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.education}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon" >
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>बँकेचे नाव</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.bank_name}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>शाखा</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.branch}}</label>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>खाते क्रमांक</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.acc_no}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>आय.एफ.एस.सी. कोड नंबर</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.ifsc}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                 <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जमिनीचा प्रकार</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.land_type}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>7/12 गट क्रमांक</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.gat_712}}</label>
                    </div>
                 </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>8 अ वरील एकुण क्षेत्र (हे. आर.)</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.ekun_shetra}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row" style="margin-bottom: 0px;">
                    <div class="col-md-12 text-left">
                        <label class="form-group form-row"><b>घेत असलेली इतर पिके :-</b></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 text-left">
                        <label class="form-group form-row"><b>१)</b></label>
                      </div>
                      <div class="col-md-2 text-left">
                          <label class="form-group form-row"> {{up.pik1}}</label>
                      </div>
                      <div class="col-md-1 text-left">
                        <label class="form-group form-row"><b>२)</b></label>
                      </div>
                      <div class="col-md-2 text-left">
                          <label class="form-group form-row"> {{up.pik2}}</label>
                      </div>
                      <div class="col-md-1 text-left">
                        <label class="form-group form-row"><b>३)</b></label>
                      </div>
                      <div class="col-md-2 text-left">
                          <label class="form-group form-row"> {{up.pik3}}</label>
                      </div>
                      <div class="col-md-1 text-left">
                        <label class="form-group form-row"><b>४)</b></label>
                      </div>
                      <div class="col-md-2 text-left">
                          <label class="form-group form-row"> {{up.pik4}}</label>
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>तुती लागवड करावयाचे क्षेत्र (एकर)</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.acre}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                 <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>सिंचनाची व्यवस्था</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.sinchan_src}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>सिंचन कालावधी</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.sinchan_time}}</label>
                    </div>
                 </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6">
                        <label class="form-group form-row"><b>विहीर / बोअरवेल करीता विज जोडणी आहे का?</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.vijjodni_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6">
                        <label class="form-group form-row"><b>किटक संगोपन गृह व्यवस्था आहे का?</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.kitak_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>मजुर उपलब्धता आहे का?</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.majur_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                 <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>शेतकरी वर्गवारी</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.shetkari_varg}}</label>
                    </div>
                 </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 40px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दारिद्रय रेषेखाली आहे का?</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.daridrya_yn}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>बी.पी.एल कार्ड नंबर</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.bpl_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-9">
                        <label class="form-group form-row"><b>नोंदणी फी रु. 500 /- भरण्यास व मी स्वतः रोपवाटिका करण्यास तयार आहे का?</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.ropvatika_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-left" style="font-weight: 500; word-spacing: 3px;">
                श्री <label ><b>&ensp;{{up.nam}}&ensp;</b></label>पदनाम 
                <label ><b>&ensp;{{up.padnam}}&ensp;</b></label> कडुन मला रेशीम 
                उद्योग योजनेची सर्व माहिती मिळालेली आहे. मी रेशीम उदयोग करण्यास समर्थ आहे व 15 सप्टेंबर 
                पुर्वी तुती लागवड करून कार्यालयास नोंद  देण्याची जबाबदारी माझी राहील. तेव्हा मला रेशीम उदयोग 
                करण्यास जिल्हा रेशीम कार्यालय,
                <label><b>&ensp; {{up.karyalay}}&ensp;</b></label> यांनी मदत करावी. 
                या उद्योगात काहि अपरिहार्य कारणास्तव माझेकडुन काही नुकसान झाल्यास त्या होणाऱ्या नुकसानीस मी 
                स्वतः जबाबदार राहील.
              </p>
              <p class="text-left" style="font-weight: 500; word-spacing: 3px;"> &emsp;&emsp;&emsp;&emsp;
                नोंदणी रक्कम भरले नंतर कोणत्याही कारणास्तव रक्कम मला परत मिळणार नाही याची मला कल्पना 
                आहे, तसेच तुती बेने / तुती रोपे खरेदी करण्याची जबाबदारी माझी राहील. मी हा उदयोग सुरू करू 
                इच्छित असून तुती लागवड केल्यानंतर या उद्योगाचे परिपुर्ण प्रशीक्षण घेण्याची जबाबदारी माझी राहील, 
                तसेच योजने अथवा निधी अभावी मला अनुदान न मिळाल्यास माझी काही तक्रार राहणार नाही याची मला 
                कल्पना आहे.
              </p>
              <p class="text-left" style="font-weight: 500; word-spacing: 3px;"> &emsp;&emsp;&emsp;&emsp;
                तरी मला महारेशीम अभीयान -2021 अंतर्गत रेशीम उद्योग करण्यास नाव नोंदणी  करण्यास मान्यता दयावी हि विनंती.
              </p>
              <div class="form-group" style="margin-bottom: 1px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-10 form-group">
                      <label class="form-group form-row float-right"><b>आपला विश्वासु</b></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row "><b>शेतकरी सही/अंगठा ठसा :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.shetkari_sign}}" target="blank">सही पहा</a></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>शेतकरी नाव</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.shetkari_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
  </div>
  </div>
  </div>

