<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>वसतिगृह कार्यालयात प्रवेशासाठी करावयाचा अर्जाचा नमूना</h5>
       <h6>महाराष्ट्र शासन सामाजिक न्याय विभाग महाराष्ट्र राज्य</h6>
       <h6 style="color: red;"> वसतिगृह प्रवेश अर्जाचा नमुना नविन प्रवेशार्थी
        अनु. जाती / जमाती विमुक्त जाती भटक्या जमाती / आर्थिकदृष्टया मागास / विशेष मागास / अपंग / अनाथसाठी आवेदन पत्र भरण्यापुर्वी 
        काळजीपुर्वक वाचून भरावे</h6>
        </div>
            <br/>
            <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
            <h6 class=" text-left" style="font-weight: 500;"> गृहप्रमुख / गृहपाल,</h6>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <h6 class=" text-left" style="font-weight: 500;">मुलांचे / मुलींचे शासकीय वसतिगृह </h6>
                  </div>
                  <div class="col-md-5">
                    <label class="form-group form-row">{{up.jilha_name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <h6 class=" text-left" style="font-weight: 500;"> महोदय,</h6>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class=" text-left" style="font-weight: 500;">मी <b>{{up.name}}</b> आपल्या वसतिगृहात प्रवेश मिळवु इच्छितो / इच्छिते. आवदेन पत्रात नमुद केलेली माहिती 
                      मी पुर्ण भरलेली असून, माझी माहिती खरी आहे. मला वसतिगृहात प्रवेश मिळाल्यास मी सर्व नियमांचे पालन करील. सदर माहिती चुकीची असल्यास 
                      माझा प्रवेश होणार नाही याची मला जाणीव आहे.</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>विद्यार्थ्याचे नांव</b> </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row">: {{up.name2}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>विद्यार्थ्याचे स्वाक्षरी</b>  </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                    style="width:150px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
                  </div>
                </div>
              </div>
          </div>

  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>अर्जदाराचे पुर्ण नांव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>आईचे नांव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.moth_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>वडिलांचे पुर्ण नांव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.fa_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>अर्जदाराचा स्थानिक पालकाचे नांव</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.sthanik_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3 text-left">
          <label class="form-group form-row"><b>अर्जदाराचा स्थानिक पालकाचे पत्रव्यवहाराचा पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.paripurn_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>अर्जदाराचा स्थानिक पालकाचे भ्रमणध्वनी क्रमांक </b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3 text-left">
          <label class="form-group form-row"><b>अर्जदाराचा कायमचा पत्ता पिनकोड सह</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.kayam_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>जन्मतारीख</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b> जन्म स्थळ</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.birth_place}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-7">
          <label class="form-group form-row"><b>अर्जदाराचा / वडील / आई / पालकाचा दुरध्वनी / भ्रमनध्वनी क्रमांक</b></label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row">: {{up.mobile_number1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>अर्जदाराचा आधार क्रमांक</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b> इमेल पत्ता</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.email_id}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>अर्जदाराचा पॅन क्रमांक</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.pan1_no}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>पालकाचा पॅन क्रमांक</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.pan2_no}}</label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h7><b>अर्जदाराचा स्वत:चे आधार लिंक असलेले बँक खाते क्रमांक व बँकेचे नांव आयएफसी कोडसह</b></h7>
  </div>
  
  <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>बँक खाते क्रमांक</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.bank_no}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>बँकेचे नांव </b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.bank_name}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>आयएफसी कोड </b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.ifsc}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अर्जदार कोणत्या प्रवर्गाचा आहे तो नमुद करावा.जात प्रमाणपत्राची प्रत जोडावी</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.pravarg}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.pravarg_file}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अर्जदार दिव्यांग / अनाथ असल्यास येथे उल्लेख करावा व प्रमाणपत्र जोडावे (अपंगासाठी 40 टक्के अपंगत्व असणे आवश्यक आहे)</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.divyang}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.divyang_file}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-8 text-left">
          <label class="form-group form-row"><b>अर्जदारास कोणत्या इयत्तेत प्रवेश घ्यावयाचा आहे त्याचा अभ्यासक्रमाचा उल्लेख करावा</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.iyatta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-7 text-left">
          <label class="form-group form-row"><b>यापुर्वी शासकीय वसतिगृहात राहत असल्यास वसतिगृहाचे नांव</b></label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row">: {{up.previous_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-7 text-left">
          <label class="form-group form-row"><b>यापुर्वी शासकीय वसतिगृहात राहत असल्यास वसतिगृहाचे पत्ता</b></label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row">: {{up.previous_address}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अर्जदारास पुर्वी काही आजार असल्यास उल्लेख करावा व वैद्यकीय प्रमाणपत्र जोडावे</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.aajar}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.aajar_file}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अर्जदारावर कोणत्या प्रकारचा गुन्हा नोंद आहे काय ?</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{ up.gunha }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अर्जदाराचे पालक शासकीय सेवेत किंवा खाजगी सेवेत असल्यास कार्यालयाचे नांव पत्ता</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{ up.shasakiy_seva }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अर्जदाराच्या पालकाचे वार्षिक उत्पन्न सक्षम प्राधिकारी / तहसिलदार यांचे</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{ up.income }}</label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h7><b>अर्जदाराचे मागील तीन वर्षाची शैक्षणिक माहिती भरावी</b></h7>
  </div>
  <table class="table table-bordered table-striped table-hover main_bany_text">
    <thead>
      <tr class="text-center" style="font-size:14px;">
        <th scope="col">अ.क्र.</th>
        <th scope="col">शैक्षणिक वर्ष</th>
        <th scope="col">इयत्ता</th>
        <th scope="col">गुणांची टक्केवारी</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>1.</td>
        <td>{{up.varsh1}}</td>
        <td>{{up.iyatta1}}</td>
        <td>{{up.takka1}}</td>
      </tr>
      <tr class="text-center">
        <td>2.</td>
        <td>{{up.varsh2}}</td>
        <td>{{up.iyatta2}}</td>
        <td>{{up.takka2}}</td>
      </tr>
      <tr class="text-center">
        <td>3.</td>
        <td>{{up.varsh3}}</td>
        <td>{{up.iyatta3}}</td>
        <td>{{up.takka3}}</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="form-header text-center row">
    <h7><b>पुर्वी शिक्षण घेत असलेल्या महाविद्यालयाचे शिफारस नमुना</b></h7>
    </div>
    <br/>
    <div class="form-group" >
      <div class="input-icon">
        <div class="row">
          <div class="col-md-6">
            <label class="form-group form-row"><b>महाविद्यालयाचे नांव</b></label>
          </div>
          <div class="col-md-6">
            <label class="form-group form-row">: {{ up.maha_name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <div class="input-icon">
        <div class="row">
          <div class="col-md-6">
            <label class="form-group form-row"><b>महाविद्यालयामध्ये कोणत्या अभ्यासक्रमासाठी प्रवेश घेतला</b></label>
          </div>
          <div class="col-md-6">
            <label class="form-group form-row">: {{ up.abhyaskram }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <div class="input-icon">
        <div class="row">
          <div class="col-md-6">
            <label class="form-group form-row"><b>पास झाल्याचे वर्ष</b></label>
          </div>
          <div class="col-md-6">
            <label class="form-group form-row">: {{ up.pas_varsh }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <div class="input-icon">
        <div class="row">
          <div class="col-md-6">
            <label class="form-group form-row"><b>अर्जदाराचे चारित्रय व बुध्दीमताबाबत अभिप्राय</b></label>
          </div>
          <div class="col-md-6">
            <label class="form-group form-row">: {{ up.charitrya }}</label>
          </div>
        </div>
      </div>
    </div>
     <div class="form-header text-center row">
                      <h7><b>पालकांनी द्यावयाचे प्रमाणपत्राचा नमुना</b></h7>
                      <h7>प्रमाणित करण्यात येते की माझ्या पाल्यास वसतिगृह प्रवेश मिळाल्यास, त्यास मिळणारे सर्व साहित्य व्यवस्थीत 
                        सांभाळण्याची जबाबदारी माझ्या पाल्याची राहील. सामानाची मोडतोड किंवा हरवल्यास त्याची भरपाई मी करेन व माझ्या 
                        पाल्याचे नियमबाहय वर्तन आढळल्यास त्यास वसतिगृहातून नोटीस न देता काढल्यास माझी काही हरकत राहणार नाही.</h7>
                      </div>
                      <br/>

  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>साक्षीदाराचे नांव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.sakshi_name}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>साक्षीदाराचे स्वाक्षरी</b>  </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:150px!important;color:#fff"  href="/media/{{up.sakshi_signature}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-2">
        <label class="form-group form-row"><b>पालकाचे नांव</b> </label>
      </div>
      <div class="col-md-4">
        <label class="form-group form-row">: {{up.palak_name}}</label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row"><b>पालकाचे स्वाक्षरी</b>  </label>
      </div>
      <div class="col-md-4">
        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
        style="width:150px!important;color:#fff"  href="/media/{{up.palak_signature}}" target="blank"> सही पहा </a></label>
      </div>
    </div>
  </div>
</div>
<div class="form-group" >
  <div class="input-icon">
    <div class="row">
      <div class="col-md-2">
        <label class="form-group form-row"><b>विद्यार्थ्याचे नांव</b> </label>
      </div>
      <div class="col-md-4">
        <label class="form-group form-row">: {{up.vidya_name}}</label>
      </div>
      <div class="col-md-2">
        <label class="form-group form-row"><b>विद्यार्थ्याचे स्वाक्षरी</b>  </label>
      </div>
      <div class="col-md-4">
        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
        style="width:150px!important;color:#fff"  href="/media/{{up.vidya_signature}}" target="blank"> सही पहा </a></label>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
  
  

  
