<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h7>  संस्था सभासद अर्ज   <br/>जिल्हा ग्रंथालय अधिकारी कार्यालय,नागपूर</h7>
        </div>
        <h6 class=" text-right" style="font-weight: 500;"> अर्ज किंमत रुपये २५/-</h6>
        <br/>
        <h6 class=" text-left" style="font-weight: 500;"> संस्थेचे नाव <b>{{up.sansname}}</b>  <h6 class=" text-right" style="font-weight: 500;">अर्ज दिल्याचा दिनांक : <b>{{up.form_date}}</b> </h6></h6>
        
        <br/>
        <div class="form-header text-center row">
          <h7> संस्था सभासद अर्ज <br/><b> जिल्हा ग्रंथालय अधिकारी कार्यालय,</b> <br/> पटवर्धन मैदानजवळ,  धंतोली नागपुर ४४००१२ <br/>
            दूरध्वनी क्रमांक २४२०१९४
           </h7>
        </div>
        <br/>
        <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
        <h6 class=" text-left" style="font-weight: 500;"> जिल्हा ग्रंथपाल </h6>
        <h6 class=" text-left" style="font-weight: 500;"> जिल्हा ग्रंथालय अधिकारी कार्यालय,</h6>
        <h6 class=" text-left" style="font-weight: 500;"> नागपूर ४४००१२.</h6>
      </br>
        <h6 class=" text-left" style="font-weight: 500;">महोदय ,</h6>
        <h6 class=" text-justify" style="font-weight: 500;"> आम्ही ,आपल्या शासकीय जिल्हा ग्रंथालयाचा सभासद होऊ इच्छितो. 
          आमच्या संबंधीची पूर्ण माहिती खालील प्रमाणे देत आहोत. खालील माहितीत बद्दल झाल्यास अगर आमचा पत्ता बदलल्यास, 
          असा बदल आपल्या कार्यालयास ताबडतोब कळविण्यात येईल . यासोबत अनामत रक्कम रु. २५००/- व प्रवेश शुल्क रु.  ७५०/- (द्विवार्षिक) 
          जमा करीत आहोत. /h6>
          <h6 class=" text-right" style="font-weight: 500;">आपला,</h6>
          <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>नाव</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.name3}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>अर्ज जमा करण्याच दिनांक</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.form_date1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>अर्जदाराची स्वाक्षरी</b>  </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:120px!important;color:#fff"  href="/media/{{up.singh}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
</div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b> संस्थेचे / ग्रंथालयाचे नाव </b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.sansthaname}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्थेचा / ग्रंथालयाचा संपूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संस्थेचा नोंदणी क्रमांक</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.non_kr}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>नोंदणी प्रमाणपत्राची सत्यप्रत</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.satyaprat}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b> सचिवाचे पूर्ण नाव  </b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.sachivname1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>सचिवाचा संपूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.patta2}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>संस्थेचे ग्रंथालय असल्यास एकूण ग्रंथसंख्या</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.granth_sankhya}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>सभासदांची संख्या</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.sabh_sankhya}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b> देवघेवीसाठी लागणाऱ्या ग्रंथाची संख्या व वाडमय प्रकार</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.devghevi}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b> कार्यकारी मंडळाचा ठराव क्रमांक</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.tharav_kr}}</label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>कार्यकारी मंडळाचा ठराव दिनांक</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.tharav_date}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>ठरावाची सत्यप्रत</b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.satyaprat1}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;"><b>कार्यकारी मंडळातील सदस्यांची नावे :</b></h6>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.karya_sadasya1}}</label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.karya_sadasya2}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.karya_sadasya3}}</label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.karya_sadasya4}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.karya_sadasya5}}</label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.karya_sadasya6}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-12">
          <label class="form-group form-row">: {{up.karya_sadasya7}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>इतर माहिती </b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.itar}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-center" style="font-weight: 500;">  मी आपल्या ग्रंथालयाच्या संस्था सभासदत्वाचे नियम वाचले असून त्याचे मी पालन करीन.</h6>
  <h6 class=" text-right" style="font-weight: 500;"> सचिव</h6>
  <br/>
  <h6 class=" text-justify" style="font-weight: 500;">संस्था सभासदत्वासाठी सचिव श्री/ श्रीमती <b>{{up.shri}}</b> यांनी 
    सादर केलेल्या अर्जाची मी शिफारस करतो / करते. ग्रंथ हरविल्यास, गहाळ झाल्यास, फाटल्यास मी त्यास जबाबदार राहीन .</h6>
    <h6 class=" text-right" style="font-weight: 500;"> अध्यक्ष</h6>
    <br/>
 <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्थेचा शिक्का </b> </label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.shikka}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>
  
  

  
