<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h7> वैयक्तिक सभासद अर्ज <br/>जिल्हा ग्रंथालय अधिकारी कार्यालय,नागपूर</h7>
        </div>
        <h6 class=" text-right" style="font-weight: 500;"> अर्ज किंमत रुपये १०/-</h6>
        <br/>
        <h6 class=" text-left" style="font-weight: 500;"> श्री / श्रीमती <b>{{up.shri}}</b>  <h6 class=" text-right" style="font-weight: 500;">अर्ज दिल्याचा दिनांक : <b>{{up.form_date}}</b> </h6></h6>
        
        <br/>
        <div class="form-header text-center row">
          <h7> वैयक्तिक सभासद अर्ज <br/><b> जिल्हा ग्रंथालय अधिकारी कार्यालय,</b> <br/> पटवर्धन मैदानजवळ,  धंतोली नागपुर ४४००१२ <br/>
            दूरध्वनी क्रमांक २४२०१९४
           </h7>
        </div>
        <br/>
          <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
          <h6 class=" text-left" style="font-weight: 500;"> जिल्हा ग्रंथपाल </h6>
          <h6 class=" text-left" style="font-weight: 500;"> जिल्हा ग्रंथालय अधिकारी कार्यालय,</h6>
          <h6 class=" text-left" style="font-weight: 500;"> नागपूर ४४००१२</h6>
        </br>
          <h6 class=" text-left" style="font-weight: 500;">महोदय ,</h6>
          <h6 class=" text-justify" style="font-weight: 500;"> मी, आपल्या शासकीय जिल्हा ग्रंथालयाचा सभासद होऊ इच्छितो / इच्छिते. 
            मी आपणास आवश्‍यक असलेली माझ्यासंबंधीची पूर्ण माहिती खाली देत आहे. मी ग्रंथालयीन नियमांचे पूर्णपणे पालन करीन. खालील माहितीत बद्दल 
            झाल्यास अगर माझा पत्ता बदलल्यास, असा बदल आपल्या कार्यालयास ताबडतोब कळविन. यासोबत अनामत रक्कम रु ५००/- व प्रवेश शुल्क रु १००/- 
            (द्विवार्षिक) जमा करीत आहे. ग्रंथालयातील सर्व नियम मी वाचले असून मला ते मान्य आहेत. </h6>
            <h6 class=" text-right" style="font-weight: 500;">आपला,</h6>
          </br>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>नाव</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.name3}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>अर्ज जमा करण्याच दिनांक</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.form_date1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>फोटो</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.photo}}" target="blank"> फोटो पहा </a></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>अर्जदाराची स्वाक्षरी</b>  </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:120px!important;color:#fff"  href="/media/{{up.singh}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
</div>
</br>
 <h6 class=" text-left" style="font-weight: 500;"><b> वेळ: सकाळी १०.३० ते सायंकाळी ५.३०   </b> </h6>
            <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संपूर्ण नाव (आडनाव प्रथम) </b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>कायमचा पूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जन्मतारीख</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
        <div class="col-md-1">
          <label class="form-group form-row"><b>मो. क्र.</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
        <div class="col-md-1">
          <label class="form-group form-row"><b>ई-मेल</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.email_id}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b> सध्याचा रहिवासी पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.patta1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>व्यवसाय / नोकरी</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.business}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>नोकरी करत असल्यास कार्यालयाचे पूर्ण नाव</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>नोकरी करत असल्यास कार्यालयाचा पूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.patta2}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>मोबाईल क्रमांक</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.mobile_number1}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  
  

  
