<div class="container">
    <div class="row">
        <div class="col-12 text-center">
        
            <div class="form-header text-center">
                <h4 style="margin-bottom: 5px;"><b>महाराष्ट्र शासन</b></h4>
                <h5 style="margin-bottom: 5px;">आदिवासी विकास विभाग </h5>
                <h5 style="margin-bottom: 5px;">एकात्मिक आदिवासी विकास प्रकल्प कार्यालय</h5>
                <h6 style="margin-bottom: 5px;">शासकीय माध्यमिक व उच्च माध्यमि क आश्रम शाळा &emsp;<span><label class="form-group"><b>{{up.gav}}</b></label></span>&emsp;</h6>
                <h6><span><label class="form-group"><b>{{up.tal}}</b></label></span>&emsp;<span><label class="form-group"><b>{{up.jil}}</b></label></span></h6>
                <h6><b>विद्यार्थी प्रवेश अर्ज</b></h6>
            </div>
            <br/>
              <p class="text-left">महोदय ,</p>
              <p class="text-left"> &emsp;&emsp;&emsp;&emsp;
                मी माझा  पाल्य कु / कुमारी <span><label class="form-group">&emsp;<b>{{up.name}}</b>&emsp;</label></span> याला / हिला आपल्या आश्रम शाळेत 
                सत्र <span><label class="form-group">&emsp; <b>{{up.satra}}</b>&emsp;</label></span> करिता इयत्ता <span><label class="form-group">&emsp; <b>{{up.eyatta}}</b>&emsp;</label></span> प्रवेश घेण्यासाठी अर्ज सादर करीत आहे.
              </p><br>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.dina}}</label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row float-right"><b>ठिकाण</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.thik}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-8">
                      <label class="form-group form-row float-right"><b>लाभार्थ्याची स्वाक्षरी :</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.swakshari}}" target="blank"> स्वाक्षरी पहा </a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-8">
                        <label class="form-group form-row float-right"><b>पूर्ण नाव</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.nav}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <h6><b>विद्यार्थ्यांची संपूर्ण माहिती</b></h6><br>
              
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>सरल प्रणाली नुसार क्रमांक</b></label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.saral_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>पूर्ण नाव</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.purn_nav}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वडिलाचे नाव</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.father_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>आईचे नाव</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.mother_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6">
                        <label class="form-group form-row"><b>वडील कायदेशीर पालक नसल्यास जबाबदार व्यक्तीचे नाव</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.jababi_vyakti}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <h6 class="text-left" style="margin-bottom: 10px;"><b>कायमचा पत्ता</b></h6>
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>मु.</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.mukam}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>पो.</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.post}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>ता.</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.taluka}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row float-right"><b>जि.</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.dist}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>संपर्कासाठी पत्ता</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.patta}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-group form-row"><b>जन्मतारीख (अंकांमध्ये)</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.birthdate}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>जन्मतारीख (अक्षरी)</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.birth_akshar}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जन्म स्थळ</b></label>
                    </div>
                    <div class="col-md-2">
                          <label class="form-group form-row">: {{up.birthplace}}</label>
                    </div>
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>धर्म</b></label>
                  </div>
                  <div class="col-md-2">
                        <label class="form-group form-row">: {{up.dharm}}</label>
                  </div>
                  <div class="col-md-2">
                      <label class="form-group form-row"><b>जात</b></label>
                  </div>
                  <div class="col-md-2">
                        <label class="form-group form-row">: {{up.jat}}</label>
                  </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <h6 class="text-left" style="margin-bottom: 10px;"><b>मागील उत्तीर्ण केलेली</b></h6>
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>इयत्ता</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.last_std}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>वर्ष</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.year}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>टक्केवारी</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.takke}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="text-left" style="margin-bottom: 10px;"><b>बँक खात्याची तपशील (XEROX जोडावी)</b></h6>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>बँकेचे नाव</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.bank_name}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>शाखा</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.branch}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>खाते क्रमांक</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.acc_no}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>IFSC क्र.</b></label>
                    </div>
                    <div class="col-md-3">
                          <label class="form-group form-row">: {{up.ifsc}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>आधार क्रमांक</b></label>
                    </div>
                    <div class="col-md-10">
                          <label class="form-group form-row">: {{up.adhar_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>आधार कार्डाप्रमाणे नाव</b></label>
                    </div>
                    <div class="col-md-9">
                          <label class="form-group form-row">: {{up.adhar_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 40px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6">
                        <label class="form-group form-row"><b>आधार कार्ड बँक खात्याशी सलग्न केला आहे काय ?</b></label>
                    </div>
                    <div class="col-md-6">
                          <label class="form-group form-row">: {{up.link_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="text-left" style="margin-bottom: 10px;"><b>या शाळेत असणारे विद्यार्थ्याचे भाऊ बहीण:</b></h6>
              <div style="height:200px;overflow:auto;">
                <table class="table table-bordered table-striped table-hover main_bany_text">
                  <thead>
                    <tr class="text-center" style="font-size:14px;">
                      <th><b>भाऊ बहिणीचे नाव</b></th>
                      <th><b>इयत्ता</b></th>
                      <th><b>नाते</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td><label class="form-group form-row"> {{up.brosis_name1}}</label></td>
                      <td><label class="form-group form-row"> {{up.std1}}</label></td>
                      <td><label class="form-group form-row"> {{up.nate1}}</label></td>
                    </tr>
                    <tr class="text-center">
                      <td><label class="form-group form-row"> {{up.brosis_name2}}</label></td>
                      <td><label class="form-group form-row"> {{up.std2}}</label></td>
                      <td><label class="form-group form-row"> {{up.nate2}}</label></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>दिनांक</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.dinank}}</label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row float-right"><b>विद्यार्थ्याची / पालकाची स्वाक्षरी :</b></label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                        style="width:100%!important;color:#fff"  href="/media/{{up.sign}}" target="blank">स्वाक्षरी पहा</a></label>
                    </div>
                  </div>
                </div>
              </div>

  </div>
  </div>
  </div>

  