<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="form-header text-center">
                <h5 style="margin-bottom: 5px;"><b>शासकीय माध्यमिक व उच्च माध्यमिक आश्रमशाळा, कवडस ता. हिंगणा जि. नागपूर येथे 
                    तंत्र व्यवसाय प्रशिक्षण केंद्रात चालविले जाणारे व्यवसाय अभ्यासक्रम प्रशिक्षणाचा </b>
                </h5>
                <h5 style="margin-bottom: 5px;"><b>अर्जाचा नमुना</b></h5>
            </div>
            <br/>

              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 10px;"><b> प्रति,</b></h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp;<b> मा. मुख्याध्यापक, </b></h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp;<b> शासकीय माध्यमिक व उच्च माध्यमिक आश्रमशाळा,कवडस,</b></h6>
              <h6 class=" text-left" style="font-weight: 500; margin-bottom: 5px;">&emsp;&emsp;<b> ता. हिंगणा &emsp;  जि. नागपूर</b></h6>
              <br>

              <h6 class="text-center"><b>विषय :- केंद्रिय पुरस्कृत योजनेअंतर्गत सन 2019-20 या वर्षांत तंत्र व्यवसाय प्रशिक्षण 
                केंद्रात 4 महिने  कालावधीचे व्यवसाय प्रशिक्षण मिळणेबाबत. </b></h6><br>

              <p class="text-left"><b>महोदय ,</b></p>
              <p class="text-left"> &emsp;&emsp;&emsp;&emsp;
                <b>मी आपले कार्यालयामार्फत चालविण्यात येणाऱ्या तंत्र व्यवसाय प्रशिक्षण केंद्रात रोजगार व स्वयंरोजगाराभिमुख 
                4 महिने कालावधीचे व्यवसाय प्रशिक्षण घेण्यास इच्छुक असुन माझी वैयक्तिक माहिती खालील प्रमाणे आहे.</b>
              </p><br>
              
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>प्रशिक्षणार्थ्यांचे संपूर्ण नाव</b>  </label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-group form-row">: {{up.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>कायमचा / पत्रव्यवहाराचा पत्ता</b>  </label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.patta}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जात</b>  </label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.jat}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>जन्मतारीख</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.birthdate}}</label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>अर्जाचे तारखेपर्यंतचे वय</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.age}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>शैक्षणिक पात्रता</b></label>
                    </div>
                    <div class="col-md-9 text-left">
                        <label class="form-group form-row">: {{up.education}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>कुटुंबाचे वार्षिक उत्पन्न</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.income}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 40px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-6">
                        <label class="form-group form-row"><b>यापुर्वी कोणताही लाभ घेतलेला आहे किंवा नाही ?</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.labh_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-5">
                        <label class="form-group form-row"><b>नौकरीसाठी नाव नोंदविलेले आहे काय?</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.nokri_yn}}</label>
                    </div>
                  </div>
                </div>
              </div>
              {% if up.nokri_yn == "होय" %}
              <div class="form-group" >
                <div class="input-icon" >
                  <div class="row">
                    <div class="col-md-5">
                        <label class="form-group form-row"><b>असल्यास नोंदणी क्रमांक नमुद करावा</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.nondni_no}}</label>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="form-group">
                <div class="input-icon" >
                  <div class="row">
                    <div class="col-md-6">
                        <label class="form-group form-row"><b>कोणते प्रशिक्षण घ्यावयाचे आहे, त्या अभ्यासक्रमाचे नाव</b></label>
                    </div>
                    <div class="col-md-6 text-left">
                        <label class="form-group form-row">: {{up.abhyaskram}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <p class="text-left" style="font-weight: 500; word-spacing: 3px;"> &emsp;&emsp;&emsp;&emsp;
                <b>मी प्रमाणित करतो / करते की, वर दिलेली माहिती व कागदपत्रे खरी आहे आणि ती चुकीची आढळल्यास दिलेली प्रशिक्षणाची संपूर्ण मदत माझ्याकडून वसुली केली जाईल, याची मला जाणीव आहे.</b>
              </p><br>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>दिनांक:</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.dinank}}</label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group form-row float-right"><b>ठिकाण:</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.thikan}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>फोटो:</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.photo}}" target="blank">फोटो पहा</a></label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row float-right"><b>लाभार्थ्याची स्वाक्षरी:</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.sign}}" target="blank">स्वाक्षरी पहा</a></label>
                    </div>
                  </div>
                </div>
              </div>

  </div>
  </div>
  </div>
