<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>वधूच्या आई / वडिलांनी करावयाचा अर्ज</h5>
        </div>
        <br/>
        <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
        <h6 class=" text-left" style="font-weight: 500;"> मा. जिल्हा महिला व बालविकास अधिकारी, </h6>
        <h6 class=" text-left" style="font-weight: 500;">  नागपूर. </h6>
      </br>
      <h6 class=" text-left" style="font-weight: 500;"> विषय :- माझ्या मुलीचा विवाह शुभमंगल सामुहिक विवाहात समाविष्ट करणेबाबत.</h6>
    </br>
    <h6 class=" text-left" style="font-weight: 500;"> महोदय,</h6> 
  </br>  
  <h6 class="text-justify" style="font-weight: 500;">वरिल विषयाचे अनुषंगाने सविनय विनंती अर्ज करतो / करते  की , मी नामे 
    श्री / श्रीमती <b>{{up.name}}</b> राहणार <b>{{up.sam_patta}}</b> पो <b>{{up.post}}</b> ता. <b>{{up.taluka}}</b> जिल्हा नागपूर व्यवसाय
    <b>{{up.buisness}}</b> माझी मुलगी नामे <b>{{up.girl_name}}</b> वय <b>{{up.age}}</b> हिचा विवाह दिनांक <b>{{up.vivah_date}}</b> रोजी
    <b>{{up.sanstha}}</b> या संस्थेद्वारा आयोजित केलेल्या सामुहिक विवाह सोहोळ्यामध्ये करण्याचे ठरविले आहे.
     तरी सदर सामुहिक विवाह सोहळ्यात सहभागी होण्याची अनुमती दयावी. सदर योजनेत सहभागी होणाऱ्या माझ्या मुलीचा हा प्रथम विवाह आहे. बँक खाते क्रमांक 
     <b>{{up.acc_no}}</b> बँक आयफसीएस कोड <b>{{up.ifsc}}</b> बँकेचे नाव <b>{{up.bank_name}}</b> आधार क्रमांक <b>{{up.adhaar_no}}</b> असा आहे. </h6>
    </br>
     <h6 class=" text-right" style="font-weight: 500;">  आपला / आपली विश्वासु </h6> 
  </br> 
        <div class="form-group">
          <div class="input-icon">
            <div class="row"> 
              <div class="col-md-3">
                <label class="form-group form-row"><b>दिनांक</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row">: {{up.form_date}}</label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"><b>स्वाक्षरी</b></label>
              </div>
              <div class="col-md-3">
                <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                  style="width:120px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
              </div>
            </div>
          </div>
        </div>  
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>नाव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.name1}}</label>
        </div>
      </div>
    </div>
  </div>
</br>
<div class="form-header text-center row">
  <h6>परिशिष्ट - अ</h6>
  <h5>शुभमंगल सामुहिक विवाह  सोहळा आयोजित करणाऱ्या संस्थेने आपल्या प्रस्तावा सोबत वर / वधू यांचेबाबत सादर  करावयाचा तपशिल</h5>
  <h5>वराची माहिती</h5> 
</div>
</br>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>वराचे संपुर्ण नाव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.var_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जन्मतारिख</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>वय</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.age1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>शिक्षण</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.education}}</label>
        </div>
        </div>
      </div>
    </div>
    <h6 class=" text-left" style="font-weight: 500;"><b>मूळ राहण्याचे ठिकाण</b></h6>
  </br>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>गाव</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.gav}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>तालुका</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.taluka1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जिल्हा</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.jilha}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>दुरध्वनी</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>पालक पाल्याचा संपुर्ण पत्ता</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.palak_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class=" text-left" style="font-weight: 500;"><b>दुरध्वनी (असल्यास)</b></h6>
          </br>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-2">
                  <label class="form-group form-row"><b>निवास</b></label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.mobile_number1}}</label>
                </div>
                <div class="col-md-2">
                  <label class="form-group form-row"><b>कार्यालय</b></label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.mobile_number2}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <div class="input-icon">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-group form-row"><b>वराचा फोटो</b> </label>
                </div>
                <div class="col-md-9">
                  <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                    style="width:120px!important;color:#fff"  href="/media/{{up.var_photo}}" target="blank"> पहा </a></label>
                </div>
              </div>
            </div>
        </div>
        <div class="form-header text-center row">
          <h5>वधुची माहिती</h5> 
        </div>
      </br>
      <div class="form-group" >
        <div class="input-icon">
          <div class="row">
            <div class="col-md-3">
              <label class="form-group form-row"><b>वधुचे संपुर्ण नाव</b></label>
            </div>
            <div class="col-md-9">
              <label class="form-group form-row">: {{up.vadhu_name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <div class="row">
            <div class="col-md-2">
              <label class="form-group form-row"><b>जन्मतारिख</b> </label>
            </div>
            <div class="col-md-4">
              <label class="form-group form-row">: {{up.birth_date1}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>वय</b> </label>
            </div>
            <div class="col-md-4">
              <label class="form-group form-row">: {{up.age2}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" >
        <div class="input-icon">
          <div class="row">
            <div class="col-md-3">
              <label class="form-group form-row"><b>शिक्षण</b></label>
            </div>
            <div class="col-md-9">
              <label class="form-group form-row">: {{up.education1}}</label>
            </div>
            </div>
          </div>
        </div>
        <h6 class=" text-left" style="font-weight: 500;"><b>मूळ राहण्याचे ठिकाण</b></h6>
      </br>
      <div class="form-group">
        <div class="input-icon">
          <div class="row">
            <div class="col-md-2">
              <label class="form-group form-row"><b>गाव</b></label>
            </div>
            <div class="col-md-4">
              <label class="form-group form-row">: {{up.gav1}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>तालुका</b></label>
            </div>
            <div class="col-md-4">
              <label class="form-group form-row">: {{up.taluka2}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <div class="row">
            <div class="col-md-2">
              <label class="form-group form-row"><b>जिल्हा</b></label>
            </div>
            <div class="col-md-4">
              <label class="form-group form-row">: {{up.jilha1}}</label>
            </div>
            <div class="col-md-2">
              <label class="form-group form-row"><b>दुरध्वनी</b></label>
            </div>
            <div class="col-md-4">
              <label class="form-group form-row">: {{up.mobile_number3}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <div class="row">
            <div class="col-md-4">
              <label class="form-group form-row"><b>पालक पाल्याचा संपुर्ण पत्ता</b></label>
            </div>
            <div class="col-md-8">
              <label class="form-group form-row">: {{up.palak_patta1}}</label>
            </div>
          </div>
        </div>
      </div>
      <h6 class=" text-left" style="font-weight: 500;"><b>दुरध्वनी (असल्यास)</b></h6>
              </br>
              <div class="form-group">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>निवास</b></label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row">: {{up.mobile_number4}}</label>
                    </div>
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>कार्यालय</b></label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group form-row">: {{up.mobile_number5}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-group form-row"><b>वधूचे फोटो</b> </label>
                    </div>
                    <div class="col-md-9">
                      <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                        style="width:120px!important;color:#fff"  href="/media/{{up.vadhu_photo}}" target="blank"> पहा </a></label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-header text-center row">
              <h5> विवाह विषयक माहिती</h5> 
            </div>
          </br>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-group form-row"><b>सामुहिक विवाह आयोजित करणाऱ्या संस्थेचे नाव</b></label>
                </div>
                <div class="col-md-6">
                  <label class="form-group form-row">: {{up.sans_name}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-group form-row"><b>सामुहिक विवाहाचे ठिकाण</b></label>
                </div>
                <div class="col-md-6">
                  <label class="form-group form-row">: {{up.thikan}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-group form-row"><b>सामुहिक विवाह आयोजित केल्याची तारिख</b></label>
                </div>
                <div class="col-md-6">
                  <label class="form-group form-row">: {{up.tarikh}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-4">
                  <label class="form-group form-row"><b>विवाह पद्धती</b></label>
                </div>
                <div class="col-md-8">
                  <label class="form-group form-row">: {{up.padhat}}</label>
                </div>
              </div>
            </div>
          </div>
          <h6 class=" text-left" style="font-weight: 500;"><b>प्रथम विवाह आहे का?</b></h6>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-group form-row"><b>(अ) वर</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.var}}</label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row"><b>(ब) वधु</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.vadhu}}</label>
                </div>
              </div>
            </div>
          </div>
          <h6 class=" text-left" style="font-weight: 500;"><b>लग्नपूर्वी विधूर / विधवा , होता / होती  काय?</b></h6>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-group form-row"><b>(अ) वर</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.vidur}}</label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row"><b>(ब) वधु</b></label>
                </div>
                <div class="col-md-3">
                  <label class="form-group form-row">: {{up.vidhva}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-8">
                  <label class="form-group form-row"><b>यापूर्वी सदर योजनेखाली अर्थसाहाय्याची मागणी केली आहे काय?</b></label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.arthsahayya}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon">
              <div class="row">
                <div class="col-md-8">
                  <label class="form-group form-row"><b> अन्य जिल्यामध्ये अशाप्रकारचा अर्ज केला आहे काय?</b></label>
                </div>
                <div class="col-md-4">
                  <label class="form-group form-row">: {{up.arj}}</label>
                </div>
              </div>
            </div>
          </div>
          <h6 class=" text-justify" style="font-weight: 500;">आम्ही खाली स्वाक्षरी करणारे वर / वधु सत्य प्रतिज्ञेवर लिहुन देतो की, वर नमूद करण्यात 
            आलेली संपूर्ण माहिती आमचे ज्ञानानुसार खरी व वस्तुस्थितीवर आधारित असून सदर माहिती खोटी अथवा वस्तुस्थितीशी विसंगत असल्याचे निदर्शनास आल्यास 
            होणाऱ्या कार्रवाहीस आम्ही पूर्णतः जबाबदार राहू.</h6>
          </br>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>वर पक्ष</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:120px!important;color:#fff"  href="/media/{{up.var_sign}}" target="blank"> सही पहा </a></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>वधु पक्ष</b>  </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:120px!important;color:#fff"  href="/media/{{up.vadhu_sign}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
  
  

  
