<div class="container">
    <div class="row">
        <div class="col-12 text-center">
              <div class="form-header text-center row">
                <h5><b>शुभमंगल  योजना शेतकरी /शेतमजूर  / निराधार परितक्तया व विधवा महिलेल्या मुलीने नोंदणीकृत 
                    विवाह केल्यास अर्थसहाय मिळणेकरीता वधुने/वधुचे आई/वडील यांनी सादर करावयाचे अर्जाचा नमूना </b>
                </h5>
              </div>
              <br/>
              <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
              <h6 class=" text-left" style="font-weight: 500;"> मा. जिल्हा महिला व बालविकास अधिकारी, </h6>
              <h6 class=" text-left" style="font-weight: 500;">  नागपूर. </h6>
            </br>
            <div class="form-group" style="line-height: 8px;">
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <h6 class=" text-left" style="font-weight: 500;"><b> विषय :- शुभमंगल योजनेअतर्गत नोंदणीकृत विवाहास अर्थसहाय मिळणेबाबत </b></h6>
                    </div>
                  </div><br><br>
                  <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>अर्जदार :-</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>अर्जदार नाव</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group form-row">: {{up.name}}</label>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>पत्ता</b></label>
                    </div>
                    <div class="col-md-9">
                        <label class="form-group form-row">: {{up.address}}</label>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>संपर्क क्र.</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.mobile}}</label>
                    </div>
                  </div>
                </div>
              </div>
      
          <h6 class=" text-left" style="font-weight: 500;"> महोदय,</h6> 
        
          <p class="text-justify" style="font-weight: 500; word-spacing: 3px;"> &emsp;&emsp;&emsp;&emsp;
            वरील विषयाचे अनुषंगाने अर्ज सादर करण्यात येते की, मी 
            &ensp;<label><b> {{up.shet_mahila}}</b></label>&ensp;
            असुन  मी / माझे मुलीने आपल्या विभागाचे शुभमंगल योजनेअंतर्गत नोंदणीकृत विवाह दिनांक
            &ensp;<label><b> {{up.dinank}}</b></label>&ensp; रोजी &ensp;<label><b> {{up.yethe}}</b></label>&ensp; 
            येथे केलेला आहे / करीत आहे. त्याबाबतच्या नोंदणीकृत विवाहाचे नोंदणी प्रमाणपञ / नोंदणीकृत विवाह करण्याकरीता  
            केलेल्या दुयम निबंधक यांचेकडील नोंदणीची प्रत यासोबत जोडण्यात येत आहे. (जे लागू नसेल ते खोडण्यात यावे)
          </p>
          <p class="text-justify" style="font-weight: 500; word-spacing: 3px;"> &emsp;&emsp;&emsp;&emsp;
            त्याकरीता  माझे / माझे मुलीचे विवाहाची परिशिष्ठ – अ मधिल वधुवरांची माहिती व विवाह विषयक महितीसह 
            आवश्यक ती सर्व कागदपञे व प्रमाणपञे यासोबत जोडून पाठविण्यात येत आहे. त्याचप्रमाणे माझा/माझे मुलीचा 
            हा प्रथम विवाह असुन माझे कुटूबाचे वार्षीक उत्पन्न हे एक लाखाचे आत आहे. माझे नावे असलेल्या बॅकचे नाव
            &ensp;<label><b> {{up.bank}}</b></label>&ensp; शाखा 
            &ensp;<label><b> {{up.branch}}</b></label>&ensp; बॅक खाते क्र. 
            &ensp;<label><b> {{up.acc_no}}</b></label>&ensp; बॅक आयएफसीएस कोड 
            &ensp;<label><b> {{up.ifsc}}</b></label>&ensp; आधार क्रमांक 
            &ensp;<label><b> {{up.adharno}}</b></label>&ensp; असे आहेत.
          </p>
          <p class="text-justify" style="font-weight: 500; word-spacing: 3px;"> &emsp;&emsp;&emsp;&emsp;
            करीता मला /माझे मुलीचे  शुभमंगल योजनेतर्गत केलेल्या नोंदणीकृत  विवाहाकरीता 
            रु. १०,०००/- चे अर्थसहाय अनुदान मिळण्यात यावे हि विनंती.            
          </p>
            </br>
             <h6 class=" text-right" style="font-weight: 500;">  आपला / आपली विश्वासु </h6> 
          </br> 
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                      <div class="col-md-3">
                        <label class="form-group form-row"><b> {{up.vadh}} </b></label>
                      </div>
                      <div class="col-md-5">
                        <label class="form-group form-row"><b>: {{up.nav}}</b></label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.swakshari}}" target="blank"> सही पहा </a></label>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="form-header text-center">
                <h6><b>परिशिष्ट - अ</b></h6><br>
                <h5>शुभमंगल सामुहिक विवाह  सोहळा आयोजित करणाऱ्या संस्थेने आपल्या प्रस्तावा सोबत वर / वधू यांचेबाबत सादर  करावयाचा तपशिल</h5><br>
                <h5><b>वराची माहिती</b></h5> 
              </div>
            </br>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वराचे संपुर्ण नाव</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.var_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="form-group form-row"><b>जन्मतारिख</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.birth_date}}</label>
                    </div>
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>वय</b></label>
                    </div>
                    <div class="col-md-5">
                        <label class="form-group form-row">: {{up.age1}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-11">
                        <label class="form-group form-row">: {{up.education}}</label>
                    </div>
                  </div>
                </div>
              </div>

            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 8px;"><b>मूळ राहण्याचे ठिकाण :-</b></h6>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                    <label class="form-group form-row"><b>गाव</b></label>
                  </div>
                  <div class="col-md-3 text-left">
                    <label class="form-group form-row">: {{up.gav}}</label>
                  </div>
                  <div class="col-md-1">
                    <label class="form-group form-row"><b>तालुका</b></label>
                  </div>
                  <div class="col-md-3 text-left">
                    <label class="form-group form-row">: {{up.taluka1}}</label>
                  </div>
                  <div class="col-md-1">
                    <label class="form-group form-row"><b>जिल्हा</b></label>
                  </div>
                  <div class="col-md-2 text-left">
                    <label class="form-group form-row">: {{up.jilha}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दुरध्वनी असल्यास</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.mobile_number}}</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>पालक पाल्याचा संपुर्ण पत्ता</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.palak_patta}}</label>
                    </div>
                </div>
              </div>
            </div>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 8px;"><b>दुरध्वनी (असल्यास)</b></h6>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                    <label class="form-group form-row"><b>निवास</b></label>
                  </div>
                  <div class="col-md-4 text-left">
                    <label class="form-group form-row">: {{up.mobile_number1}}</label>
                  </div>
                  <div class="col-md-1">
                    <label class="form-group form-row"><b>कार्यालय</b></label>
                  </div>
                  <div class="col-md-4 text-left">
                    <label class="form-group form-row">: {{up.mobile_number2}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row"><b>वराचा फोटो :</b></label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                        style="width:100%!important;color:#fff"  href="/media/{{up.var_photo}}" target="blank"> फोटो पहा </a></label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="form-header text-center">
                <h5><b>वधुची माहिती</b></h5> 
            </div>
            </br>
            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वधुचे संपुर्ण नाव</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="form-group form-row">: {{up.vadhu_name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                      <div class="col-md-2">
                        <label class="form-group form-row"><b>जन्मतारिख</b></label>
                      </div>
                      <div class="col-md-4">
                          <label class="form-group form-row">: {{up.birth_date1}}</label>
                      </div>
                      <div class="col-md-1">
                          <label class="form-group form-row"><b>वय</b></label>
                      </div>
                      <div class="col-md-5">
                          <label class="form-group form-row">: {{up.age2}}</label>
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-1">
                        <label class="form-group form-row"><b>शिक्षण</b></label>
                    </div>
                    <div class="col-md-11">
                        <label class="form-group form-row">: {{up.education1}}</label>
                    </div>
                  </div>
                </div>
              </div>

            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 8px;"><b>मूळ राहण्याचे ठिकाण :-</b></h6>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>गाव</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                      <label class="form-group form-row">: {{up.gav1}}</label>
                    </div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>तालुका</b></label>
                    </div>
                    <div class="col-md-3 text-left">
                      <label class="form-group form-row">: {{up.taluka2}}</label>
                    </div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>जिल्हा</b></label>
                    </div>
                    <div class="col-md-2 text-left">
                      <label class="form-group form-row">: {{up.jilha1}}</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>दुरध्वनी असल्यास</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="form-group form-row">: {{up.mobile_number3}}</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>पालक पाल्याचा संपुर्ण पत्ता</b></label>
                    </div>
                    <div class="col-md-8 text-left">
                        <label class="form-group form-row">: {{up.palak_patta1}}</label>
                    </div>
                </div>
              </div>
            </div>
            <h6 class=" text-left" style="font-weight: 500; margin-bottom: 8px;"><b>दुरध्वनी (असल्यास)</b></h6>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>निवास</b></label>
                    </div>
                    <div class="col-md-4 text-left">
                      <label class="form-group form-row">: {{up.mobile_number4}}</label>
                    </div>
                    <div class="col-md-1">
                      <label class="form-group form-row"><b>कार्यालय</b></label>
                    </div>
                    <div class="col-md-4 text-left">
                      <label class="form-group form-row">: {{up.mobile_number5}}</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>वधुचा फोटो :</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.vadhu_photo}}" target="blank"> फोटो पहा </a></label>
                    </div>
                </div>
              </div>
            </div> 
            <br>
            <div class="form-header text-center">
              <h5><b> विवाह विषयक माहिती </b></h5> 
            </div>
          </br>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-5">
                      <label class="form-group form-row"><b>सामुहिक विवाह आयोजित करणाऱ्या संस्थेचे नाव</b></label>
                    </div>
                    <div class="col-md-7 text-left">
                      <label class="form-group form-row">: {{up.sans_name}}</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                      <div class="col-md-3">
                        <label class="form-group form-row"><b>सामुहिक विवाहाचे ठिकाण</b></label>
                      </div>
                      <div class="col-md-9 text-left">
                        <label class="form-group form-row">: {{up.thikan}}</label>
                      </div>
                  </div>
                </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-5">
                    <label class="form-group form-row"><b>सामुहिक विवाह आयोजित केल्याची तारिख :</b></label>
                  </div>
                  <div class="col-md-7">
                    <label class="form-group form-row">: {{up.tarikh}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-group form-row"><b>विवाह पद्धती</b></label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-group form-row">: {{up.padhat}}</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-3">
                        <label class="form-group form-row"><b>प्रथम विवाह आहे काय?</b></label>                    
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वर </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_pratham}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वधू </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_pratham}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="margin-bottom: 10px; margin-top: 20px;" >
                <div class="input-icon">
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-group form-row"><b>लग्नापूर्वी विदुर/विधवा होते काय ?</b></label>                    
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वर </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.var_vidur}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row float-right"><b> वधू </b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="form-group form-row">: {{up.vadhu_vidhva}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                      <div class="col-md-7">
                          <label class="form-group form-row"><b>यापूर्वी सदर योजनेखाली अर्थसाहाय्याची मागणी केली आहे काय ?</b></label>
                      </div>
                      <div class="col-md-5">
                          <label class="form-group form-row">: {{up.arthsahayya}}</label>
                      </div>
                  </div>
                </div>
              </div>

              <div class="form-group" >
                <div class="input-icon">
                  <div class="row">
                      <div class="col-md-6">
                          <label class="form-group form-row"><b>अन्य जिल्ह्यामध्ये अशाप्रकारचा अर्ज केला आहे काय ?</b></label>
                      </div>
                      <div class="col-md-6">
                          <label class="form-group form-row">: {{up.arj}}</label>
                      </div>
                  </div>
                </div>
              </div>

            <h6 class=" text-justify" style="font-weight: 500;"> &emsp;&emsp;&emsp;&emsp;
              आम्ही खाली स्वाक्षरी करणारे वर / वधु सत्य प्रतिज्ञेवर लिहुन देतो की, वर नमूद करण्यात आलेली 
              संपूर्ण माहिती आमचे ज्ञानानुसार खरी व वस्तुस्थितीवर आधारित असून सदर माहिती खोटी अथवा 
              वस्तुस्थितीशी विसंगत असल्याचे निदर्शनास आल्यास होणाऱ्या कार्रवाहीस आम्ही पूर्णतः जबाबदार राहू.
            </h6>
            </br>
                <div class="form-group" >
                  <div class="input-icon">
                    <div class="row">
                       <div class="col-md-2">
                        <label class="form-group form-row"><b>वर पक्ष :</b></label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.var_sign}}" target="blank">  पहा </a></label>
                      </div>
                      <div class="col-md-2">
                        <label class="form-group form-row"><b>वधु पक्ष :</b></label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
                            style="width:100%!important;color:#fff"  href="/media/{{up.vadhu_sign}}" target="blank">  पहा </a></label>
                      </div>
                    </div>
                  </div>
                </div>

  </div>
  </div>
  </div>