<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-header text-center row">
          <h5>संत रविदास पुरस्कार (संस्थांसाठी)</h5>
       <h6>अर्जाचा नमुना(संस्थांसाठी)</h6>
        </div>
            <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>जिल्हा</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.jilha_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संस्थेचे पूर्ण नांव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संपूर्ण पत्ता</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.paripurn_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>भ्रमणध्वनी क्रमांक</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्था नोंदणी अधिनियम- 1860</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.adhi1_date}}</label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">{{up.adhi1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्था नोंदणी अधिनियम- 1950</b> </label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.adhi2_date}}</label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">{{up.adhi2}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>संबंधीत संस्थेचे कार्यक्षेत्र</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.sambandhit}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>उपविधी (Byelaws) प्रमाणे संस्थेची उद्दिष्टे</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.upvidhi}}</label>
        </div>
      </div>
    </div>
  </div>
  <h7><b>संस्थेच्या कार्यकारी मंडळातील पदाधिकाऱ्यांचे नांव व पत्ता इत्यादी सविस्तर माहिती</b></h7>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>अध्यक्ष</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.padadhi1_name}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b> भ्रमणध्वनी क्र.</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.mob1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>सचिव</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.padadhi2_name}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b> भ्रमणध्वनी क्र.</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.mob2}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>अर्ज कोणत्या पुरस्कारासाठी केला आहे, त्या पुरस्काराचे नांव</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.arj_pur}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्थेचा सार्वजनिक क्षेत्रातील एकूण अनुभव</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.anubhav}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्थेचा मागील 5 वर्षाचा लेखा परिक्षण अहवाल</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.lekha_pari}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>संस्थेचा मागील 5 वर्षाचा वार्षिक अहवाल</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.varshik_aha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4 text-left">
          <label class="form-group form-row"><b>स्वतंत्र लेखा परिक्षण होत असल्यास, तीन वर्षाचा अहवाल</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.swatantra_lekha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4 text-left">
          <label class="form-group form-row"><b>संबंधीत संस्था केव्हापासून सुरु आहे, (अनुदानित/ विनाअनुदानित तत्त्वावर)</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sambandhit_sanstha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>संस्थेमार्फत सुरु असलेल्या विविध उपक्रमांची माहिती</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.upkram}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4 text-left">
          <label class="form-group form-row"><b>संस्था माध्यमातून व्यक्तीगत अथवा सामूहिक सेवा दुर्बल घटकांना व मागासवर्गीयांसाठी घेत असलेले उपक्रम.
            असल्यास, कोणत्या स्वरुपात व त्यांनी घेतलेल्या उपक्रमांचा सविस्तर तपशिल</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.vyaktigat}}</label>
        </div>
      </div>
    </div>
  </div>
  <h7><b>संस्थेने उत्कृष्ट कार्य केल्याबद्दल त्यांना शासना मार्फत किंवा अन्य संस्थेमार्फत सत्कार अथवा पारितोषिक मिळाले असल्यास त्याचा तपशिल</b></h7>
  <table class="table table-bordered table-striped table-hover main_bany_text">
    <thead>
      <tr class="text-center" style="font-size:14px;">
        <th>अ.क्र.</th>
        <th>पारितोषिकाचे नांव</th>
        <th>कोणामार्फत देण्यात आला</th>
        <th>वर्ष दिनांक</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>1.</td>
        <td>{{up.pari_name1}}</td>
        <td>{{up.from1}}</td>
        <td>{{up.pari_date1}}</td>
      </tr>
      <tr class="text-center">
        <td>2.</td>
        <td>{{up.pari_name2}}</td>
        <td>{{up.from2}}</td>
        <td>{{up.pari_date2}}</td>
      </tr>
      <tr class="text-center">
        <td>3.</td>
        <td>{{up.pari_name3}}</td>
        <td>{{up.from3}}</td>
        <td>{{up.pari_date3}}</td>
      </tr>
    </tbody>
  </table>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4 text-left">
          <label class="form-group form-row"><b>सदर संस्थेस पुरस्कार मिळणेसाठी नामनिर्देशन कोणी केलेले आहे?</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.sadar_sansthes}}</label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h7><b>संस्थेचे वैशिष्ट्यपूर्ण उपक्रमांचा तपशिल.
      प्रस्तावासोबत केलेल्या कामाचा तपशिल-उदा. फोटोग्राफ, पुरस्कार, प्रशस्तीपत्रे, उपक्रम, बक्षिसे, प्रसिध्दीबाबतचे कात्रणे, इत्यादी कागदपत्रे जोडावीत</b></h7>
  </div>
  <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row">{{up.vaishishtya}}</label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.vaishishtya1}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>संस्थेविरुध्द फौजदारी गुन्हा दाखल झाला नसल्याचा जिल्हा पोलीस अधिक्षकाचा दाखला</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.dakhla}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>नांव</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.name2}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>अर्जदाराची सही</b>  </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:150px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
  
  

  
