<div class="container">
  <div class="row">
      <div class="col-12 text-center">
            <div class="form-header text-center row">
              <h5>संत रविदास पुरस्कार</h5>
           <h6>अर्जाचा नमुना (व्यक्तींसाठी) </h6>
            </div>
            <br/>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>जिल्ह्याचे नांव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.jilha_name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>व्यक्तिचे संपूर्ण नांव</b></label>
        </div>
        <div class="col-md-9">
          <label class="form-group form-row">: {{up.name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>व्यक्तीचा पत्ता (संपूर्ण पत्रव्यवहाराचा पत्ता)</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.paripurn_patta}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>जन्मतारीख</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.birth_date}}</label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"><b>जन्मतारखेचा पुरावा</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.purava}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row">
        <div class="col-md-3">
          <label class="form-group form-row"><b>भ्रमणध्वनी क्रमांक</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.mobile_number}}</label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row"><b>वय</b> </label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.age}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row"> 
        <div class="col-md-2">
          <label class="form-group form-row"><b>जात</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.jat}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>जात प्रमाणपत्र क्र.</b></label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.pramanpatra}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-icon">
      <div class="row"> 
        <div class="col-md-5">
          <label class="form-group form-row"><b>जात प्रमाणपत्र देणाऱ्या अधिकारी यांचा हुद्दा</b></label>
        </div>
        <div class="col-md-3">
          <label class="form-group form-row">: {{up.hudda}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>ठिकाण</b></label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row">: {{up.thikan}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-5">
          <label class="form-group form-row"><b>शिक्षण (अंतिम शैक्षणिक अर्हतता नमूद करावी.)</b></label>
        </div>
        <div class="col-md-7">
          <label class="form-group form-row">: {{up.education}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>नोकरी / व्यवसाय</b></label>
        </div>
        <div class="col-md-10">
          <label class="form-group form-row">: {{up.business}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>पत्नी ह्यात असल्यास नाव व वय</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.patni_hyat}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>सामाजिक सेवेचा काळ</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.samajik}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>अर्ज ज्या पुरस्कारासाठी केला आहे, त्या पुरस्काराचे नांव</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.arj_pur}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="form-group form-row"><b>अनु.जाती/जमाती/भटक्या विमुक्त जाती/मनोदुर्बल/अपंग/कुष्ठरोगी इ. कार्यक्षेत्रात महत्वाचे कार्य.</b></label>
        </div>
        <div class="col-md-6 ">
          <label class="form-group form-row">: {{up.vyakti_sahitya}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-7 text-left">
          <label class="form-group form-row"><b>व्यक्तीचे साहित्य, कला, अंधश्रध्दा, शैक्षणिक क्षेत्रातील योगदान.</b></label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row">: {{up.anujati}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group form-row"><b>ज्या संस्थांशी संबंध आला त्यांची नावे</b></label>
        </div>
        <div class="col-md-8">
          <label class="form-group form-row">: {{up.jya_sanstha}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>समाज कल्याण क्षेत्रात वैशिष्ट्यपूर्ण कामाचा तपशिल</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.samkaly_kshetra}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-7">
          <label class="form-group form-row"><b>कार्यकर्त्यांचे चारित्र्य बाबत प्रमाणपत्र (पोलीस  विभागाचा दाखला) :</b></label>
        </div>
        <div class="col-md-5">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.karyakartya}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row"><b>यापूर्वी बहुमान मिळाला आहे काय, (कोणत्या क्षेत्रात)</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.yapurvi_bahu}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6  text-left">
          <label class="form-group form-row"><b>कार्यकर्ता सध्या शासकिय/अशासकिय पदावर नियुक्त आहे काय, (असल्यास पदाचे नांव)</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.karkarta_sadhya}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6  text-left">
          <label class="form-group form-row"><b>विधानमंडळ जिल्हा परिषद/स्कुल बोर्ड यांचे सदस्यत्व आहे का, असल्यास नावाचा उल्लेख करावा.</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.vidhanmandal}}</label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h7><b>व्यक्ती कार्यकर्ता यांनी त्यांचे समाज सेवेच्या कालावधीत केलेल्या कामाचा तपशिल (कागदोपत्री पुरावे, कात्रणे, फोटोग्राफ, लेख, पुरस्काराचे फोटोग्राफ, प्रशस्तीपत्रे इत्यादी.)</b></h7>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group form-row">{{up.vyakti_karyakarta}}</label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
            style="width:100px!important;color:#fff"  href="/media/{{up.vyakti_karyakarta1}}" target="blank"> पहा </a></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6  text-left">
          <label class="form-group form-row"><b>शिफारस करणाऱ्या व्यक्तिचे नांव व पद</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.shifaras}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-6  text-left">
          <label class="form-group form-row"><b>इतर काही माहिती असल्यास</b></label>
        </div>
        <div class="col-md-6">
          <label class="form-group form-row">: {{up.itar}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="input-icon">
      <div class="row">
        <div class="col-md-2">
          <label class="form-group form-row"><b>दिनांक</b> </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row">: {{up.form_date}}</label>
        </div>
        <div class="col-md-2">
          <label class="form-group form-row"><b>अर्जदाराची सही</b>  </label>
        </div>
        <div class="col-md-4">
          <label class="form-group form-row"> <a class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font"
          style="width:150px!important;color:#fff"  href="/media/{{up.signature}}" target="blank"> सही पहा </a></label>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
  
  

  
