{% extends 'web/layout1.html' %}
{% load static %}
{% load ui_tags %}
{% block title %}Schemes{% endblock %}
{% block description %} {% settings_value 'APP_NAME' %} {% endblock %}
{% block keywords %} {% settings_value 'APP_NAME' %} {% endblock %}
{% block css %} {% endblock %}
{% block pre_load_js %} {% endblock %}
{% block body %}
  {% for message in messages %}

<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show text-center" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
  </div>
</div>
{% endfor %}
  <div class="container" >
     <div class="row">
          <div class="col-md-4"> 
            <div class=" input-group" style="margin-bottom: 100px;">
              <input type="search" class="form-control rounded-0 py-3 font-13 sign-register-input" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            </div>
          </div>
          <div class="col-md-2"> 
            <div class=" input-group" style="margin-bottom: 100px;">
              <button type="button" class="btn fables-second-background-color yojana_mainbotton" style="font-family: 'Arya', sans-serif!important;padding: 8px 10px !important;margin:0px!important;">Search</button>
            </div>
          </div>
          <div class="col-md-6"> 
            <button type="button" class="btn fables-second-background-color yojana_mainbotton"  onclick="return toExcel()" style="float:right; font-family: 'Arya', sans-serif!important;;margin:0px!important;">Download</button>
          </div>
       </div>


    <table class="table table-bordered table-striped table-hover main_bany_text" id="tblStocks">
      <thead>
        <tr class="text-center" style="font-size:16px;">
          <th scope="col">Sr.No</th>
          <th scope="col">Date</th>
          <th scope="col">Application ID</th>
      
          <th scope="col">Name of Applicant</th>
          <th scope="col">Scheme Name</th>
          <th scope="col">Status</th>
          {%if request.user.role == 'Department admin hod' or request.user.role == 'Department clerk 1' %}
          <th scope="col">Clerk 1 Query</th>
          {%endif%}
          {%if request.user.role == 'Department clerk 1' %}
          <th scope="col">HOD Query</th>
          
          {%endif%}
          

        </tr>
      </thead>
      <tbody>
        {% for i in context %}
        <tr>
          <th scope="row">{{i.sr_no}}</th>
          <td>{{i.created_at}}</td>
          <td>{{i.application_id}}</td>
          
          
          <td><a href="{% url 'web:user_verify' i.pk i.scheme_id %}">{{i.applicant_name}}</a></td>
          
          <td>{{i.scheme_name}}</td>
          <td>{{i.status}}</td>
          {%if request.user.role == 'Department admin hod' or request.user.role == 'Department clerk 1' %}
          <td>{{i.raised_query}}</td>
          {% endif %}
          {%if request.user.role == 'Department clerk 1' %}
          <td>{{i.hod_query}}</td>
          
          {%endif%}
        </tr>
        {%endfor%}

      </tbody>
    </table>
  </div>

<br/>
{% endblock %}
{% block post_load_js %}
<script>
    window.doc_name = 'Applicants.xlsx'
  </script>
  {%include 'web/includes/to-excel.html' %}
{% endblock%}