{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Dashboard Sign In, Free Admin Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/templatemo_main.css' %}">
    <!-- 
Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard
-->
</head>

<body>
    <div id="main-wrapper">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <div class="logo">
                    <h1>Dashboard - Admin Template</h1>
                </div>
            </div>
        </div>
        <div class="template-page-wrapper">
            <form class="form-horizontal templatemo-signin-form" role="form" action="{% url 'web:forgot' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <label for="username" class="col-6 control-label">Old Password</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="username" name='old'
                                placeholder="Old Password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <label for="password" class="col-6 control-label">New Password</label>
                        <div class="col-6">
                            <input type="password" class="form-control" id="password" name='new'
                                placeholder="New Password">

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Set Password" class="btn btn-default">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>