{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    
    <title>Dashboard Sign In, Free Admin Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/templatemo_main.css' %}">
    <!-- 
Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard
-->
</head>

<body>
    <div id="main-wrapper">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <div class="logo">
                    <h1>Dashboard - Admin Template</h1>
                </div>
            </div>
        </div>
        <header>
            <h1>Enter new password</h1>
            <h3>Pleaase enter your new password twice so you can verify you typed it in correctly</h3>
        </header>
        <div class="template-page-wrapper">
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Update Password">
            </form>
        </div>
    </div>
</body>

</html>