{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <title>Dashboard Sign In, Free Admin Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/templatemo_main.css' %}">
    <!-- 
Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard
-->
</head>

<body>
    <div id="main-wrapper">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <div class="logo">
                    <h1>Dashboard - Admin Template</h1>
                </div>
            </div>
        </div>
        <header>
            <h1>Password Reset Complete</h1>
            <h3>Your password reset has been set. You may go ahead and log in new</h3>
        </header>
        <a href="{% url 'web:sign_in' %}">Sign In</a>
    </div>
</body>

</html>