<div class="container">
  <div class="row">
      <div class="col-12 text-center">
        <form id="application_form" action="{% url 'web:mini' scheme.id %}" method="post" enctype="multipart/form-data" class="container">
          {% csrf_token %}
            <div class="form-header text-center row">
              <h3> सामाजिक न्याय व विशेष सहाय्य विभाग </h3>
              <h5> अनुसूचित जाती व नवबौद्ध घटकांच्या बचत गटांकरीता मिनी ट्रॅक्टरचा पुरवठा करणे या योजनेअंतर्गत मिनी ट्रॅक्टर मिळण्याकरिता करावयाचा  </h5>
              <h5 style="font-weight: 600;"> अर्जाचा नमुना   </h5>
            </div>
            <br/>
            <h6 class=" text-left" style="font-weight: 500;"> प्रति,</h6>
            <h6 class=" text-left" style="font-weight: 500;"> सहाय्यक आयुक्त,</h6>
            <h6 class=" text-left" style="font-weight: 500;"> समाज कल्याण, नागपूर</h6>
            <br/>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">मी अध्यक्ष / सचिव नामे </label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="name" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="अर्जदाराचे नाव" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">राहणार</label>
                  </div>
                  <div class="col-md-8">
                    <textarea type="text" name="address" class="form-control rounded-0 py-3 font-13 sign-register-input"
                  required placeholder="राहणार"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">मोबाईल क्रमांक</label>
                  </div>
                  <div class="col-md-8">
                    <input type="tel" name="mobile_no" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="मोबाईल क्रमांक" />
                  </div>
                </div>
              </div>
            </div>
            <h6 class=" text-center" style="font-weight: 500;"> आमच्या अनु. जातीच्या बचत गटास मिनी ट्रॅक्टर मिळण्याकरिता खालीलप्रमाणे अर्ज सादर करीत आहे</h6>
            <br/>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">बचत गटाचे पूर्ण नाव </label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="gat_name" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="बचत गटाचे पूर्ण नाव " />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">कार्यालयाचा संपूर्ण  पत्ता </label>
                  </div>
                  <div class="col-md-8">
                    <textarea type="text" name="karya_address" class="form-control rounded-0 py-3 font-13 sign-register-input"
                  required placeholder="कार्यालयाचा संपूर्ण  पत्ता "></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">बचत गटाच्या सदस्यांची संख्या </label>
                  </div>
                  <div class="col-md-8">
                    <input type="number" name="bachat_no" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="बचत गटाच्या सदस्यांची संख्या " />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">अनुसूचित जातीचे सदस्यांची संख्या  </label>
                  </div>
                  <div class="col-md-8">
                    <input type="number" name="anu_no" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="अनुसूचित जातीचे सदस्यांची संख्या  " />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">इतर सदस्यांची संख्या </label>
                  </div>
                  <div class="col-md-8">
                    <input type="number" name="itar_no" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="इतर सदस्यांची संख्या  " />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">बचत गटाचा रेजिस्ट्रेशन क्रमांक </label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="registration_no" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="बचत गटाचा रेजिस्ट्रेशन क्रमांक " />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">बचत गटाचा रेजिस्ट्रेशन दिनांक  </label>
                  </div>
                  <div class="col-md-8">
                    <input type="date" name="registration_date" class="form-control rounded-0 py-3 font-13 sign-register-input"
                    required placeholder="बचत गटाचा रेजिस्ट्रेशन दिनांक  " />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-group form-row">बचत गटामार्फत सुरु असलेल्या कामाची माहिती </label>
                  </div>
                  <div class="col-md-8">
                    <textarea type="text" name="bachat_info" class="form-control rounded-0 py-3 font-13 sign-register-input"
                  required placeholder="बचत गटामार्फत सुरु असलेल्या कामाची माहिती "></textarea>
                  </div>
                </div>
              </div>
            </div>
            <h6 class=" text-center" style="font-weight: 500; color:red; "> अर्जासोबत सर्व अनु.जातीच्या सदस्यांचे जातीचे दाखले, आधार कार्ड, राशन कार्ड, बचत गटाचा ठराव, 
              प्राधिकृत व्यक्तीचे नाव, बँकेचे बचत गटाचे चालू खाते व्यवहार माहिती, बचत गट नोंदणी प्रमाणपत्र, बचत गटाची थोडक्यात कामाची माहिती इ.सोबत जोडावे.</h6>
             
              <br><br>
             <label class="text-center font-weight-bold"><input type="checkbox" name="terms" required> मी बचत गटाचा अध्यक्ष / सचिव या नात्याने  अर्ज सादर करतो की, आमच्या बचत गटास मिळणारे मिनी ट्रॅक्टर हे शासनाच्या मालकीचे असून ते आमच्या बचत गटास
               शासकीय योजनेमधून वापरासाठी मिळाले आहे, याची आम्हाला जाण आहे. सदर मिनी ट्रॅक्टर हे आम्ही विकणार नाही किंवा गहाण ठेवणार नाही. या सयंत्रणाचा  
               आम्ही बचत गटाचा उत्पन्न वाढीकरीता  उपयोग करू, असे हमीपत्र देत आहे.<br>मी आधुनिक तंत्रज्ञानाचा वापर करण्यास उत्सुक असून या शासनाच्या सदर योजनेअंतर्गत मिनी ट्रॅक्टर सयंत्र मंजूर करण्यात यावे, ही विनंती.
            </label>
             
            <div class="main-form row w-100"></div>
    
              <div class="form-group" ></div>
       
      <div class="row form-group p-0">
        
        <div class="form-group" >
          <div class="input-icon">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="place" class="form-control rounded-0 py-3 font-13 sign-register-input"
                required placeholder="स्थळ" />
              </div>
              <div class="col-md-6">
                <input type="date" name="app_date" class="form-control rounded-0 py-3 font-13 sign-register-input"
                  required placeholder="दिनांक " /> 
              </div>
              
            </div>
          </div>
        </div> 
           <div class="form-group" >
              <div class="input-icon">
                <div class="row">
                  <div class="col-md-2">
                    <label class="form-group form-row">फोटो:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="file" name="photo" class="form-control" required />
                  </div>
                   <div class="col-md-2">
                    <label class="form-group form-row">अर्जदाराची सही:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="file" name="sign" class="form-control" required />
                  </div>
                </div>
              </div>
            </div>
        
      </div>
      
      <div class="row form-group p-0">
        <label class="text-center font-weight-bold"><input type="checkbox" name="terms" required> I truly declare that above information is correct to the best of my knowledge</label>
      </div>
      
      </div>
</form>
</div>
</div>
